<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="home" ng-controller="attachmentEditCtrl">
	<div class="con alt">
		<header>
			<a class="backLink" ng-click="go('back', 'slideRight','id='+caseId)"></a>
			<h1 class="title">Attachment details</h1>
		</header>
		<div class="content">
			<div class="editFileSection">
				<p class="fileName">
					<span>{{attachment.name}}</span>
				</p>
				<p class="fileSize">{{(attachment.bodyLength/1024) | number : 2}} KB</p>
				<p class="postedBy">posted by {{attachment.createdBy}} on {{attachment.createdDate}}</p>
				<p class="description">{{attachment.contentType}}</p>				
			</div>
			<div ng-if="attachment.contentType.indexOf('image/jpeg') == 0 || attachment.contentType.indexOf('image/png') == 0">
				<img ng-src="data:{{attachment.contentType}};base64, {{attachment.body}}"
				    style="margin-top:5%;max-width:100%;max-height:80%" alt="Attachment" />
			</div>
			
		</div>
	</div>
</article>
<!-- #home -->
<!-- /.con -->
<div class="overlay"></div>
<div class="loading"><img src="i/loading.gif"/></div>
<div class="popup confirmPopup msgOnly">
	<div class="popupCon">
		<p class="msg">
			Your file has been
			<br />
			edited.
		</p>
	</div>
</div>
<!-- /.coinfrmPopup -->

<div class="popup delConfirmPopup">
	<div class="popupCon">
		<p class="msg">
			Are you sure you want to
			<br />
			delete this file?
		</p>
	</div>
	<div class="actions">
		<a class="action closePopup">Cancel</a> <a class="action"  ng-click="go('back')">Delete</a>
	</div>
</div>
<!-- /.delCoinfrmPopup -->
