<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="home" ng-controller="attachmentsCtrl">
	<div class="con">
		<header>
			<a class="backLink" ng-click="go('back','slideRight')"></a>
			<h1 class="title">Attachments</h1>
			<a class="newLink" ng-click="go('/newAttachments', 'slideLeft', 'id='+caseId)"><i>+</i>New</a>
		</header>
		<div class="content">
			<ul class="attachmentList">
				<li ng-repeat='attachment in attachmentList' ng-click="go('/editAttachment','slideLeft','id='+caseId+'&attachmentId='+attachment.id)">
					<div class="attachment">
						<p class="fileName"><span>{{attachment.name}}</span></p>
						<p class="fileSize">{{(attachment.bodyLength/1024) | number : 2}} KB</p>
						<p class="fileDescription">{{attachment.contentType}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="loading"><img src="i/loading.gif"/></div>
