<article class="screen homeTemplate alt  alt fixedActions" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="caseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="go('/home', 'slideRight')"></a>
			<h1 class="title">Case Details</h1>
		</header>
		<div class="content caseTemplate caseRma">
			<h1 class="caseNo">
				<span>{{caseData.caseNumber}}</span>
			</h1>
			<section>
				<h2>Case Information</h2>
				<div class="gr">
					<label>Contact Name </label>
					<p>{{caseData.contactName}}</p>
				</div>
				<div class="gr">
					<label>Account Name </label>
					<p>{{caseData.accountName}}</p>
				</div>
				<div class="gr">
					<label>Status </label>
					<p>{{caseData.status}}</p>
				</div>
				<div class="gr">
					<label>Country </label>
					<p>{{caseData.country}}</p>
				</div>
				<div class="gr">
					<label>State </label>
					<p>{{caseData.state}}</p>
				</div>
				<div class="gr lookupGr">
						<label>Service Activity </label>
						<p>{{caseData.serviceActivity}}</p>
				</div>
			</section>
			<div class="caseTemplate caseRma" ng-repeat="item in caseData.items">
				<section>
					<h2>RMA Item nº {{$index}}</h2>
					<div class="gr lookupGr">
						<label>Part Number </label>
						<p>{{item.partNumberId}}</p>
					</div>
					<div class="gr lookupGr">
						<label>Serial Number </label>
						<p>{{item.serialNumber}}</p>
					</div>
					<div class="gr lookupGr">
						<label>Failure Code</label>
						<p>{{item.failureCode}}</p>
					</div>
					<div class="gr lookupGr">
						<label>Description of Failure </label>
						<p>{{item.descriptionOfFailure}}</p>
					</div>
				</section>
			</div>
		</div>
		<!-- /.content -->
		<nav class="caseActions">
			<a ng-click="go('/comments','','id='+caseData.id)" class="action showComments"></a> 
			<a ng-click="showRmaWarning()" class="action showEdit"></a> 
			<a ng-click="go('attachments','','id='+caseData.id)" class="action showAttachments"></a> 
			<a ng-click="confirmClose();" class="action showCloseModal"></a>
		</nav>
	</div>
	<!-- /.con -->
    <div class="overlay"></div>
    <div class="loading"><img src="i/loading.gif"/></div>
    <div title="Confirm" class="popup confirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			close this case?
    		</p>
    	</div>
    	<div class="actions">
    		<a ng-click="closePopup('.confirmPopup')" class="action closePopup">Cancel</a> 
    		<a class="action" ng-click="closeCase(caseData.id)">Close</a>
    	</div>
    </div>
    <div  title="Warning" class="popup rmaWarningPopup msgOnly" ng-click="closePopup('.rmaWarningPopup')">
    	<div class="popupCon">
    		<p class="msg">
    			RMA Cases cannot be updated. 
    			<br />
    			Please use the comments.
    		</p>
    	</div>
    </div>
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
</article>
<!-- #home -->
