<article class="screen homeTemplate alt fixedActions" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="caseCtrl">
	<div class="con">
		<header>
			<a class="backLink" ng-click="go('/home', 'slideRight')"></a>
			<h1 class="title">Case Details</h1>
		</header>
		<div class="content caseTemplate caseService" ng-hide="loading">
			<h1 class="caseNo">
				<span>{{caseData.caseNumber}}</span>
			</h1>
			<section>
				<h2>Case Information</h2>
				<div class="gr">
					<label>Contact Name </label>
					<p>{{caseData.contactName}}</p>
				</div>
				<div class="gr">
					<label>Account Name </label>
					<p>{{caseData.accountName}}</p>
				</div>
				<div class="gr">
					<label>Case Record Type </label>
					<p>Technical Service Request</p>
				</div>
				<div class="gr">
					<label>Status </label>
					<p>{{caseData.status}}</p>
				</div>
				<div class="gr">
					<label>Calix Case Number </label>
					<p>{{caseData.caseNumber}}</p>
				</div>
				<div class="gr">
					<label>Number of Subscribers Affected </label>
					<p>{{caseData.numberOfSubscribersAffected}}</p>
				</div>
			</section>
			<section>
				<h2>Product Information</h2>
				<div class="gr">
					<label>Service Activity </label>
					<p>{{caseData.serviceActivity}}</p>
				</div>
				<div class="gr">
					<label>Product Family </label>
					<p>{{caseData.productFamily}}</p>
				</div>
				<div class="gr">
					<label>Current Point Release </label>
					<p>{{caseData.currentPointRelease}}</p>
				</div>
				<div class="gr">
					<label>Specify Software Version </label>
					<p>{{caseData.specifySoftwareVersion}}</p>
				</div>
			</section>
			<section>
				<h2>Subject Information</h2>
				<div class="gr">
					<label>Problem Summary </label>
					<p>{{caseData.problemSummary}}</p>
				</div>
				<div class="gr">
					<label>Problem Description </label>
					<p>{{caseData.problemDescription}}</p>
				</div>
				<div class="gr">
					<label>Resolution Summary </label>
					<p>{{caseData.resolutionSummary}}</p>
				</div>
			</section>
			<section>
				<h2>Incident Address information</h2>
				<div class="gr">
					<label>Incident City </label>
					<p>{{caseData.incidentCity}}</p>
				</div>
				<div class="gr">
					<label>Incident Country </label>
					<p>{{caseData.incidentCountry}}</p>
				</div>
			</section>
		</div>
		<!-- /.content -->
		<nav class="caseActions">
			<a ng-click="go('/comments','','id='+caseData.id)" class="action showComments"></a> 
			<a ng-click="go('edit-case-technical-service','','id='+caseData.id)" class="action showEdit"></a> 
			<a ng-click="go('attachments','','id='+caseData.id)" class="action showAttachments"></a> 
			<a ng-click="confirmClose();" class="action showCloseModal"></a>
		</nav>
	</div>
	<!-- /.con -->
    <div class="overlay"></div>
    <div class="loading"><img src="i/loading.gif"/></div>
    <div title="Confirm" class="popup confirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			close this case?
    		</p>
    	</div>
    	<div class="actions">
    		<a class="action closePopup" ng-click="closePopup('.confirmPopup')">Cancel</a> 
    		<a class="action" ng-click="closeCase(caseData.id)">Close</a>
    	</div>
    </div>
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
</article>
<!-- #home -->
