<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="verifyRmaCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="go('back', 'slideRight')"></a>
			<h1 class="title">Review &amp; Submit</h1>
		</header>
		<div class="content cxForm">
			<h2 class="subsetionTitle alt">Main info summary</h2>
			<section>
				<h2>Ship To Information</h2>
				<div class="gr lookupGr">
					<label>City </label>
					<p>{{caseData.city}}</p>
				</div>
				<div class="gr lookupGr">
					<label>Country </label>
					<p>{{caseData.country}}</p>
				</div>
				<div class="gr lookupGr">
					<label>State </label>
					<p>{{caseData.state}}</p>
				</div>
				<div class="gr lookupGr">
					<label>Service Activity </label>
					<p>{{caseData.serviceActivity}}</p>
				</div>
				<div class="gr lookupGr">
					<label>Address Line 1 </label>
					<p>{{caseData.addressLine1}}</p>
				</div>
				<div class="gr lookupGr">
					<label>Address Line 2 </label>
					<p>{{caseData.addressLine2}}</p>
				</div>
				<div class="gr lookupGr">
					<label>Zip </label>
					<p>{{caseData.postalCode}}</p>
				</div>
				<div class="gr lookupGr">
					<label>Advance Exchange </label>
					<p ng-if="caseData.advanceExchange">Yes</p>
					<p ng-if="!caseData.advanceExchange">No</p>
				</div>
			</section>
			<div class="formActions">
				<div class="single">
					<a class="action" ng-click="go('/createRma','','jump=1')">Edit</a>
				</div>
				<br />
			</div>
			<!-- end Main info summary -->


			<h2 class="subsetionTitle alt">RMA request line summaries</h2>
			<div class="rmaLineItem" ng-repeat="item in caseData.items">
				<section>
					<h2>RMA Item</h2>
					<div class="gr lookupGr">
						<label>Part Number </label>
						<p>{{item.partNumberId}}</p>
					</div>
					<div class="gr lookupGr">
						<label>Serial Number </label>
						<p>{{item.serialNumber}}</p>
					</div>
					<div class="gr lookupGr">
						<label>Failure Code</label>
						<p>{{item.failureCode}}</p>
					</div>
					<div class="gr lookupGr">
						<label>Description of Failure </label>
						<p>{{item.descriptionOfFailure}}</p>
					</div>
				</section>
				<div class="formActions">
					<div class="single">
						<a class="action" ng-click="go('/createRMALine','','line='+$index+'&jump=1')">Edit</a>
					</div>
					<br />
				</div>

				<!-- end RMA request line -->
			</div>
			<!-- /.rmaLineItem -->

			<div class="formActions">
				<div class="single">
					<a class="action" ng-click="go('/createRMALine','','line='+(caseData.items.length)+'&jump=1')">Add Another Line Item</a>
				</div>
				<div class="grpActions">
					<a class="action secondary" ng-click="confirmDelete();">Cancel</a> <a class="action" ng-click="actionSaved();">Save</a>
				</div>
			</div>
			<!-- /.formActions -->


		</div>
		<!-- /.content -->
	</div>
	<!-- /.con -->
    <div class="overlay"></div>
    <div class="loading"><img src="i/loading.gif"/></div>
    <div class="popup confirmPopup msgOnly">
    	<div class="popupCon">
    		<p class="msg">
    			Your case has been
    			<br />
    			successfully created.
    		</p>
    	</div>
    </div>
    <!-- /.coinfrmPopup -->
    
    <div class="popup delConfirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			cancel?
    		</p>
    	</div>
    	<div class="actions">
    		<a class="action closePopup">Cancel</a> 
    		<a class="action" ng-click="cancel()">Confirm</a>
    	</div>
    </div>
    <!-- /.delCoinfrmPopup -->
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
</article>
<!-- #home -->