<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="go('back', 'slideRight')"></a>
			<h1 class="title">RMA Line Item nº {{viewLine}}</h1>
		</header>
		<div class="content cxForm">
			<form action="#">
				<p class="requiredMsg">All Fields are Required</p>
				<section>
					<h2>RMA New Line Item</h2>
					<div class="gr">
						<a ng-click="barcodeSelect($event);" class="barcodeSelector rmaBarcode isPH">
						<span ng-hide="currentItem.partNumberId">Select Part Number</span>
						<span ng-show="currentItem.partNumberId" class="text">{{currentItem.partNumberId}}</span>
					</a>
					</div>
					<div class="gr">
						<a ng-click="scanSerialNumber();" class="scanBarcode">Scan Serial Number</a>
					</div>
					<div class="gr">
						<input ng-model="currentItem.serialNumber" type="tel" pattern="[0-9]*" class="text" placeholder="Enter Serial Number" />
					</div>
					<div class="gr">
						<a class="picklist msg" ng-click="pick($event,globals.failureCodeData,setItemProperty,'failureCode')">
							<span ng-hide="currentItem.failureCode">Select Failure Code</span>
							<span ng-show="currentItem.failureCode" class="text">{{currentItem.failureCode}}</span>
						</a>
					</div>
					<div class="gr">
						<textarea ng-model="currentItem.descriptionOfFailure" class="textarea" rows="10" cols="80" placeholder="Enter Description of Failure"></textarea>
					</div>
					<p class="requiredMsg" ng-show="errorMessage">{{errorMessage}}</p>
				</section>

				<div class="formActions">
					<div class="single" ng-hide="jump">
						<a class="action" ng-click="newLine();">Add Another Line Item</a>
					</div>
					<div class="grpActions" ng-hide="jump">
						<a class="action secondary" ng-click="back()">Back</a> 
						<a class="action" ng-click="review();">Review</a>
					</div>
					<div class="single" ng-show="jump">
						<a class="action" ng-click="review();">Review</a>
					</div>
				</div>
			</form>
		</div>
		<!-- /.content -->

	</div>
	<!-- /.con -->

</article>
<!-- #home -->