<article class="screen homeTemplate  alt" ng-class="{menuEnabled: menuEnabled}" id="home" ng-controller="homeCtrl">
	<nav class="sidebarMenu" ng-show="menuEnabled">
		<span class="searchWrap"><span class="btnSearch" ng-click="go('/homeSearch', 'slideLeft')">Search</span></span>
		<ul class="navLinks" >
			<li>
				<p class="title" ng-click="toggleList($event);">Create Request</p>
				<ul class="child">
					<li><a href="#/createTechnicalService">Technical Service</a></li>
					<li><a href="#/createSoftware">Software</a></li>
					<li><a href="#/createRma">RMA</a></li>
				</ul>
			</li>
			<li class="collapsed sortOptions">
				<p class="title" ng-click="toggleList($event);">Sort</p>
				<ul class="child">
					<li ng-class="{sortEnabled: query.sort == 'dcn'}">
						<a class="option" ng-click="changeSort('dcn')">By Case Number</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'dse'}" >
						<a class="option" ng-click="changeSort('dse')">By Severity</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'dst'}">
						<a class="option" ng-click="changeSort('dst')">By Status</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'dcd'}" >
						<a ng-click="changeSort('dcd')" class="option">By Created Date</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'dlmd'}">
						<a ng-click="changeSort('dlmd')" class="option">By Last Modified Date</a>
					</li>
				</ul>
			</li>
			<li class="collapsed filterOptions" ng-click="toggleList($event);">
				<p class="title">Filter by type</p>
				<ul class="child">
					<li ng-class="{sortEnabled: enabledTypes.tech}"><a class="option">Technical Service</a></li>
					<li ng-class="{sortEnabled: enabledTypes.sw}"><a class="option">Software Request</a></li>
					<li ng-class="{sortEnabled: enabledTypes.rma}"><a class="option">RMA</a></li>
				</ul>
			</li>
			<li class="collapsed filterOptions" ng-click="toggleList($event);">
				<p class="title">Filter by status</p>
				<ul class="child">
					<li ng-class="{sortEnabled: enabledStatus.unassigned}"><a class="option">Unassigned</a></li>
					<li ng-class="{sortEnabled: enabledStatus.closed}"><a class="option">Closed</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<!-- /.sidebarMenu -->
	<div class="con">
		<header>
			<a class="menuLink"  ng-click="toggleNav()"></a>
			<h1 class="title">My Cases</h1>
		</header>
		<div class="content">
			<ul class="caseList">
				<li ng-repeat='case in casesData'>
					<div class="{{getClass(case.type)}}" ng-click="navTo($event,case.id)">
						<p class="caseNo">{{case.caseNumber}}</p>
						<p class="caseDesc">{{case.summary}}{{case.specifySoftwareVersion}}</p>
						<p class="caseDate">{{case.createdDate}}</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="toggleMask" ng-click="toggleNav()"></div>
	</div>
</article>
<div class="overlay">
<div class="loading"><img src="i/loading.gif"/></div>
<!-- #home -->