<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="addAttachment" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink" ng-click="go('back', 'slideRight')"></a>
			<h1 class="title">Enter Part Number</h1>
		</header>
		<div class="content cxForm">
			<section>
				<div class="gr">
					<a class="scanBarcode" ng-click="scanBarcode()">Scan Barcode </a>
				</div>
				<div class="gr">
					<p class="lblMsg">Or Enter Code</p>
				</div>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,globals.codePrefixData,setItemProperty,'partPrefix')">
						<span ng-hide="currentItem.partPrefix">Select Code Prefix</span>
						<span ng-show="currentItem.partPrefix" class="text">{{currentItem.partPrefix}}</span>
					</a> 
				</div>
				<div class="gr">
					<input ng-model="currentItem.partSuffix" value="" type="tel" pattern="[0-9]*" class="text rmaBarcode" placeholder="Enter Code Suffix (5 digits)" />
				</div>
				<p class="requiredMsg" ng-show="errorMessage">{{errorMessage}}</p>
			</section>
			<div class="formActions bottomFixed">

				<div class="grpActions">
					<a class="action secondary"  ng-click="go('back', 'slideRight')">Cancel</a> <a class="action" ng-click="addBarcode();">Done</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /.con -->
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="popup confirmPopup msgOnly">
	<div class="popupCon">
		<p class="msg">
			Your comment has been
			<br />
			added.
		</p>
	</div>
</div>
