<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="go('back', 'slideRight')"></a>
			<h1 class="title">Edit Case</h1>
		</header>
		<div class="content cxForm">

			<p class="requiredMsg">All Fields are Required</p>
			<section>
				<h2>Case Information</h2>
				<div class="gr">
					<input type="number" ng-model="caseData.numberOfSubscribersAffected" class="text" placeholder="Enter Number of Subscribers Affected" />
				</div>
			</section>

			<section>
				<h2>Product Information</h2>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,globals.serviceActivityData,setProperty,'serviceActivity')">
						<span ng-hide="caseData.serviceActivity">Select Service Activity</span>
						<span ng-show="caseData.serviceActivity" class="text">{{caseData.serviceActivity}}</span>
					</a>
				</div>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,globals.productFamilyData,setProperty,'productFamily')">
						<span ng-hide="caseData.productFamily">Select Product Family</span>
						<span ng-show="caseData.productFamily" class="text">{{caseData.productFamily}}</span>
					</a>
				</div>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,globals.currentPointReleaseData,setProperty,'currentPointRelease')">
						<span ng-hide="caseData.currentPointRelease">Select Current Point Release</span>
						<span ng-show="caseData.currentPointRelease" class="text">{{caseData.currentPointRelease}}</span>
					</a>
				</div>
				<div class="gr">
					<input ng-model="caseData.specifySoftwareVersion" type="text" class="text" placeholder="Specify Software Version" />
				</div>
			</section>

			<section>
				<h2>Subject Information</h2>
				<div class="gr">
					<input ng-model="caseData.problemSummary" type="text" class="text" placeholder="Enter Problem Summary" />
				</div>
				<div class="gr">
					<textarea ng-model="caseData.problemDescription" class="textarea" rows="10" cols="80" placeholder="Enter Problem Description"></textarea>
				</div>
				<p class="requiredMsg" ng-show="errorMessage">{{errorMessage}}</p>
			</section>

			<div class="formActions">
				<div class="single">
					<a ng-click="go('attachments','','id='+caseData.id)" class="action showAttachments">Add Attachments</a>
				</div>
				<div class="grpActions">
					<a class="action secondary" ng-click="confirmDelete();">Cancel</a> 
					<a class="action" ng-click="actionSaved();">Save</a>
				</div>
			</div>
		</div>
		<!-- /.content -->
	</div>
	
	<!-- /.con -->
    <div class="overlay"></div>
    <div class="loading"><img src="i/loading.gif"/></div>
    <div class="popup confirmPopup msgOnly">
    	<div class="popupCon">
    		<p class="msg">
    			Your case has been
    			<br />
    			successfully edited.
    		</p>
    	</div>
    </div>
    <!-- /.coinfrmPopup -->
    
    <div class="popup delConfirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			cancel?
    		</p>
    	</div>
    	<div class="actions">
    		<a class="action closePopup" >Cancel</a>
    		<a class="action" ng-click="backAndClear()">Confirm</a>
    	</div>
    </div>
    <!-- /.delCoinfrmPopup -->
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
</article>
<!-- #home -->
