<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="home" ng-controller="commentsCtrl">
	<div class="con">
		<header>
			<span class="backLink" ng-click="go('back', 'slideRight')"></span>
			<h1 class="title">Comments</h1>
			<a class="newLink" ng-click="go('/newcomment', 'slideLeft', 'id='+caseId)"><i>+</i>New</a>
		</header>
		<div class="content">
			<ul class="commentList expanOnTap">
				<li ng-repeat='comment in commentList'>
					<div class="comment">
						<p class="postedBy">Posted By {{comment.createdBy}}</p>
						<p class="postedOn">on {{comment.createdDate}}</p>
						<p class="postedComment"><span class="inner">{{comment.body}}</span><a class="ellipsis">...</a></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="loading"><img src="i/loading.gif"/></div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
	<div class="popupCon">
		<p class="msg">
			{{errorDetail.message}}<br />{{errorDetail.details}}
		</p>
	</div>
</div>
