<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="selectOption">
	<div class="con alt">
		<header>
			<span class="backLink" ng-click="go('back', 'slideRight')"></span>
			<h1 class="title">{{picklistTitle}}</h1>
		</header>
		{{id}}
		<div class="content">
			<ul class="addFileTypes picklistOptions">
				<li ng-repeat="option in values" ng-click="callback(option.value,property)"><a>{{option.label}}</a></li>
			</ul>
		</div>
	</div>
	<!-- /.con -->	
</article>
<!-- #home -->