/* HTML5 Reset style
-----------------------------------*/
 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
body {
    line-height: 1.2em;
    /* set default font details */
    font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6C6E6E;
    -webkit-text-size-adjust:none;
    -webkit-user-select: none
    -webkit-touch-callout: none;              
    -webkit-tap-highlight-color: transparent;
}
html, body{
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #44367d;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover {
    text-decoration: none;
}
a[href$='javascript:;']{
    -webkit-touch-callout: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    color: #333;
    font-size: 12px;
    font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
    outline: none;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


#login .loginForm .textField {
    width: 290px;
    height: 24px;
    background: #2F2165;
    padding: 10px 17px;
    margin: 0;
    border: none;
    font-size: 16px;
    color: #9C98B0;
}
input, textarea {
    color: #6C6E6E;
    font-size: 12px;
    font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
    outline: none;
    vertical-align: baseline;
    -webkit-appearance: none;
}

input, input[type="password"], input[type="search"]{
    -webkit-appearance: none;    
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* heading */
 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.125em;
    font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
}
::-webkit-input-placeholder {
   color: #9c98b0;
}
/* common css */
 input.isBlured {
    color: #aaa;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.hide{
    display: none;
}
.virtualHide{
    height: 0;
    width: 0;
    border: 0;
    padding: 0;
    opacity: 0;
}
.clear{
    clear: both;
}

body.fix{
    width: 100%;
}
#wrapper{
    position: relative;
    height: 100%;
}
.pageView {
    position: relative;
    top: 0;  
    left: 0;
    height: 100%;
    width: 100%;   
    color: #FFF;
    min-height: 548px;
}
    .pageView.inMotion{
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;       
    }
    .pageView .content{
        color: #9b9b9b;
    }
    .pageView .homeTemplate.alt .content{
        overflow: auto;    
        -webkit-overflow-scrolling: touch;
    
        max-width: 100%;
        padding: 45px 0 0;
}    
    .pageView .homeTemplate.fixedActions .content{
         padding-bottom: 95px;
    }
.screen{
    display: block;
}


.screen.menuEnabled{
    max-width: 100%;    
    overflow-x: hidden;
    min-height: 100%;
}
/* splash screen */
#splash{
    text-align: center;
    background-image: url(../i/logo-big.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 203px 190px;
    height: 100%;
    background-color: #44367D;
}
    #splash .brandingLogo{
    max-width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
}

/* login screen */
#login{
    text-align: center;
    background: #44367D;
}
    #login .loginForm{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;    
        height: 188px;
        padding-top: 70px;
}
    
    .loginForm .error ::-webkit-input-placeholder {
       opacity: 0;
    }
    #login .brandingLogo{
        width: 190px;
        height: 190px;
        position: absolute;
        bottom: 241px;
        left: 50%;
        margin-left: -96px;
    
        background-image: url(../i/logo-big.png);  background-repeat: no-repeat;  background-position: 50% 50%;  
        background-size: 190px 190px;
        z-index: 1;
}    

    #login .loginForm .bg-circ{
        position: absolute;
        top: -123px;
        left: 50%;
        background: #fff;
        width: 144px;
        border-radius: 72px;
        height: 144px;
        margin-left: -74px;
    
        display: none;
}
    #login .loginForm .row{
        margin-bottom: 10px;    
        padding: 0 16px;
        position: relative;
        box-sizing: border-box;
}
    #login .loginForm .row .lbl{
        position: absolute;
        
    
        box-sizing: border-box;
        text-align: left;
        color: #f84d4d;
        max-width: 324px;
}
    #login .loginForm .errMsg{
        font-size: 14px;
    
        color: #adacac;
}
    #login .loginForm .textField{
        max-width: 324px;
        height: 24px;
        background: #2F2165;
        background: rgba(47, 33, 101, 0);
        padding: 10px 0px;
        text-indent: 17px;
        margin: 0;
        border: none;
        font-size: 16px;
        color: #9c98b0;    
        border-radius: 0;
        width: 100%;
        position: relative;
        z-index: 1;
}
    #login .loginForm .textField:focus,
    #login .loginForm .textField:active{        
        background: #2F2165;
        background: rgba(47, 33, 101, 0);
    }
    #login .loginForm .error .textField{
    opacity: 0;
        
    }
    #login .loginForm .row .wrap{
        display: inline-block;
    
        width: 100%;
        max-width: 324px;
        position: relative;
        background: #2F2165;
        box-sizing: border-box;
}
    #login .loginForm .userRow.error .wrap:after{
        position: absolute;
        content: 'Invalid Username';
        left: 0;
        top: 0;
        color: #F84D4D;    
        line-height: 44px;
        text-indent: 17px;
        font-size: 18px;
        right: 13px;
        left: 0;
        text-align: left;
        background: url(../i/ico-close.png) 100% 50% no-repeat;
        background-size: 13px 13px;
}    
    #login .loginForm .passRow.error .wrap:after{
        position: absolute;
        content: 'Invalid Password';
        left: 0;
        top: 0;
        color: #F84D4D;    
        line-height: 44px;
        text-indent: 17px;
        font-size: 18px;
        right: 13px;
        left: 0;
        text-align: left;
        background:  url(../i/ico-close.png) 100% 50% no-repeat;
        background-size: 13px 13px;
    
}
    #login .loginForm .action{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #login .loginForm .actions .action{
        height: 51px;
        line-height: 51px;     
        display: block;       
        color: #fff;
        font-size: 18px;
        text-align: center;
        background: rgba(103, 103, 103,1); 
    }
    #login .loginForm .actions:hover .action{
        text-decoration: none;
        background: rgba(103, 103, 103,0.8); 
    }

/* home page */
.homeTemplate header{
    background: #44367d;
    color: #fff;
    height: 45px;
    position: relative;
}
.toggleMask{
    position: absolute;    
    background: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    -webkit-user-select: none;
}
    .menuEnabled .toggleMask{
        display: block;
    }
.homeTemplate.alt .con{
    /* padding-top: 45px; */  
    box-sizing: border-box;
    position: relative;
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    bottom: 0;
}
    .homeTemplate.alt header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 20;
    }
    .homeTemplate header.searchHeader{
    padding-right: 64px;
        
    }
.homeTemplate.menuEnabled header{
    margin-left: -1px;
    position: relative;
    margin-bottom: -45px;
}
     .homeTemplate header .closeSearch{
        background: url(../i/ico-close-gray.png) 0 0 no-repeat;
        background-size: 12.5px 12.5px;
        position: absolute;
        right: 15px;
        top: 18px;     
        width: 13px;
        height: 13px;
        cursor: pointer;
        z-index: 10;
}
    .homeTemplate header .searchInput{
        margin: 16px 0 0 0;
        border: none;
        color: #fff;
        font-size: 17px;
        line-height: 22px;
        background: rgba(0, 0, 0, 0) url(../i/ico-zoom.png) 17px 2px no-repeat;          
        background-size: 15px 15px;
        box-sizing: border-box;
        width: 100%;
        padding-left: 44px;
}
    .homeTemplate header h1{
        text-align: center;
        line-height: 45px;
    
}
    .homeTemplate header .menuLink{
        left: 15px;
        top: 12px;
        height: 20px;
        width: 19px;
        position: absolute;
        background: url(../i/ico-list.png) 0 0 no-repeat;
        background-size: 20px 19px;
        cursor: pointer;
    
        -webkit-user-select: none;
}
    .homeTemplate header .backLink{
        left: 8px;
        top: 12px;
        height: 20px;
        width: 19px;
        position: absolute;
        background: url(../i/arrow-bk.png) 0 0 no-repeat;
        background-size: 12px 20.5px;
        cursor: pointer;
    
        -webkit-user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
}
    .homeTemplate header .newLink {
        right: 12px;
        top: 0;
        height: 45px;
        line-height: 48px;
        position: absolute;
        background-size: 12px 20.5px;
        cursor: pointer;    
        font-size: 17px;
    
        vertical-align: text-top;
        color: #fff;
        padding-left: 15px;
        background: url(../i/plus.png) 0 50% no-repeat;
        background-size: 13px 13px;
}
    .homeTemplate header a:hover{
        text-decoration: none;
    }
    .homeTemplate header .newLink i{
    
        display: none;
}

.con{
    /* -webkit-transform: translate(0,0); */
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    z-index: 10;
    background: #fff;    
    min-height: 100%;
}
.con.alt{
    background: #f7f7f7;
}
.menuEnabled .con{
    -webkit-transform: translate(55%,0);   
    -webkit-transform: translate3d(55%,0,0);
}
/* sidebar menu */
.sidebarMenu{
    left: 0;
    min-height: 100%;
    top: 0;
    background: #5d5d94;
    width: 55%;
    color: #fff;
    z-index: -1;
    position: absolute;
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 0.4;
    min-height: 100%;
}
.menuEnabled .sidebarMenu{
    opacity: 1;
    z-index: 0;
    position: fixed;
}
.menuEnabled .sidebarMenu .navLinks{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
}
.sidebarMenu .searchWrap{
    background: #3B326D;        
    display: block;
    padding: 0 5px;
    -webkit-user-select: none;
}
    .sidebarMenu .btnSearch{
        height: 44px;
        line-height: 44px;
        display: block;
        border-bottom: 1px solid #585183;
    
        font-size: 15px;
        padding-left: 45px;
        background: url(../i/ico-zoom.png) 17px 50% no-repeat;
        background-size: 15px 15px;
        cursor: pointer;
        -webkit-user-select: none;
}
    .sidebarMenu .navLinks .title{
        height: 40px;
        line-height: 40px;
        background: #3B326D ;
        padding: 0 21px;    
        font-size: 15px;
        position: relative;
        -webkit-user-select: none;
}
    .sidebarMenu .navLinks .collapsed .title{
    border-bottom: 1px solid #7575A4;
        
    }
    .sidebarMenu .navLinks .title:after{
        content: '';
        background: url(../i/arrow.png) 0 0 no-repeat;
        position: absolute;
        width: 11px;
        height: 7.5px;
        background-size: 11px 7.5px;
        right: 12px;
        top: 18px;
    
        -webkit-transform-origin: center center;
}
    .sidebarMenu .navLinks .collapsed .title:after{
        -webkit-transform: rotate(180deg);
    }
    .sidebarMenu .navLinks .child{
        height: auto; 
        opacity: 1;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    .sidebarMenu .navLinks .child li{
        -webkit-user-select: none;
    }
    .sidebarMenu .navLinks .collapsed .child{
        height: 0;
    }
    .sidebarMenu .navLinks li a, .sidebarMenu .navLinks li span{
        display: block;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #7575a4;
        margin: 0 5px;
        padding: 0 16px; 
        font-size: 16px;
        color: #fff;
}
    .sidebarMenu .navLinks .child li:first-child a{
        border-top: none;
    }
    .sidebarMenu .navLinks li a:hover, .sidebarMenu .navLinks li span:hover{
        text-decoration: none;
    }
    .sidebarMenu .navLinks .sortOptions li.sortEnabled span,
    .sidebarMenu .navLinks .sortOptions li.sortEnabled a,
    .sidebarMenu .navLinks .filterOptions li.sortEnabled span,
    .sidebarMenu .navLinks .filterOptions li.sortEnabled a{
        background: url(../i/tick.png) 98.5% 50% no-repeat;
        background-size: 17px 13px;
    }

/* caseList */    
.caseList{
   color: #6c6e6e;
}
    .caseList li{
        border-bottom: 1px solid #c8c8c8;    
        -webkit-tap-highlight-color: rgba(0,0,0,0);
}
    .caseList li > div{
        padding-left: 40px;
        background-repeat: no-repeat;
    
        background-position: 14px 13px;
        padding: 18px 0 14px 51px;
        -webkit-backface-visibility: none;
}
    .caseList li .technical-service{
        background-image: url(../i/ico-svc.png);
        background-size: 25.5px 26.5px;;
    }
    .caseList li .software{
        background-image: url(../i/ico-soft.png);
        background-size: 25.5px 25.5px;;
    }
    
    .caseList li .rma{
        background-image: url(../i/ico-rma.png);
        background-size: 27.5px 26.5px;;
    }
    .caseList li .caseNo{
       color: #e87b00;
       font-size: 18px;
       font-weight: 700;   
    
       margin-bottom: 13px;
}
    .caseList li .caseDesc{
       font-size: 15px;
       line-height: 18px; 
    
       margin-bottom: 10px;
       background: url(../i/arrow-rt.png) 100% 50% no-repeat;
       background-size: 8px 12.5px;
       margin-right: 22.5px;
       padding-right: 52px;
       display: block;
       display: -webkit-box;
       text-overflow: ellipsis;
       overflow: hidden;
       height: 36px;
       -webkit-line-clamp: 2;  -webkit-box-orient: vertical;
}
    .caseList li .caseDate{
       color: #999999;
       font-size: 15px;
       font-weight: 300;   
    }
    
/* cases */
.caseTemplate h1.caseNo{
    text-align: center;
    font-size: 24px;
    color: #e87b00;
    font-weight: 300;
    height: 60px;
    line-height: 60px;
    background: #f7f7f7;
    border-bottom: 1px solid #cbcbcb;
}
    .caseTemplate h1.caseNo span{
        display: inline-block;
        line-height: 34px;    
        padding-left: 36px;
    }
    .caseTemplate.caseService h1.caseNo span{
        background: url(../i/ico-svc-b.png) 0 50% no-repeat;
        background-size: 30.5px 33px;
    }
    .caseTemplate.caseSoftware h1.caseNo span{
        background: url(../i/ico-soft-b.png) 0 50% no-repeat;
        background-size: 30px 30px;
    }
    .caseTemplate.caseRma h1.caseNo span{
        background: url(../i/ico-rma-b.png) 0 50% no-repeat;
        background-size: 33.5px 32px;
    }
    .caseTemplate > section h2{
        background: #f3f3f3;
        border-bottom: 1px solid #cacaca;
        height: 31px;
        line-height: 31px;
        color: #e87b00;
        font-size: 14px;
        padding: 0 15px;
    }
    .caseTemplate > section .gr{
        border-bottom: 1px solid #cacaca;        
        padding: 16px 15px 17px;
    }
    .caseTemplate > section .gr > label,
     .cxForm section .lookupGr > label{
        font-size: 14px;
        line-height: 18px;
        color: #6c6e6e;
        font-weight: 700;        
    
        display: block;
        margin-bottom: 8px;
}
    .caseTemplate > section .gr > p,
    .cxForm section .lookupGr > p{
        font-size: 14px;
        line-height: 18px;
        color: #9b9b9b;
    }
    .caseTemplate > section .gr  .recType{
    background-image: url(../i/ico-soft.png);  
    background-size: 25.5px 25.5px;
        
    height: 25.5px;
    width: 25.5px;
    display: inline-block;  
}
/* Transitions */

/* Default Enter/Leave */
.ng-enter,
.ng-leave {
    transition-timing-function: ease;
    transition-duration: 250ms;
    transition-property: opacity;
}

.ng-enter {
    opacity: 0;
}

.ng-enter.ng-enter-active {
    opacity: 1;
}

.ng-leave {
    opacity: 1;
}

.ng-leave.ng-leave-active {
    opacity: 0;
}


/* slideRight */
.slideRight {
    opacity: 1 !important;
    position: absolute;
}

.slideRight.ng-enter {
    transition-property: none;
    -webkit-transform: translate(-100%,0);
    -webkit-transform: translate3d(-100%,0,0);
}

.slideRight.ng-enter.ng-enter-active {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
}

.slideRight.ng-leave {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
}

.slideRight.ng-leave.ng-leave-active {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(100%,0);
    -webkit-transform: translate3d(100%,0,0);
    
}

/* slideLeft */
.slideLeft {
    opacity: 1 !important;
    position: absolute;
}

.slideLeft.ng-enter {
    transition-property: none;
    -webkit-transform: translate(100%,0);
    -webkit-transform: translate3d(100%,0,0);
}

.slideLeft.ng-enter.ng-enter-active {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
}

.slideLeft.ng-leave {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(0,0);   
    -webkit-transform: translate3d(0,0,0);
}

.slideLeft.ng-leave.ng-leave-active {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(-100%,0);
    -webkit-transform: translate3d(-100%,0,0);
}

/* slideDown */
.slideDown {
    opacity: 1;
}

.slideDown.ng-enter {
    transition-property: none;
    -webkit-transform: translate(0,-100%);
    -webkit-transform: translate3d(0,-100%,0);
}

.slideDown.ng-enter.ng-enter-active {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
}

.slideDown.ng-leave {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
}

.slideDown.ng-leave.ng-leave-active {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(0,100%);
    -webkit-transform: translate3d(0,100%,0);
}

/* slideUp */
.slideUp {
    opacity: 1 !important;
}

.slideUp.ng-enter {
    transition-property: none;
    -webkit-transform: translate(0,100%);
    -webkit-transform: translateed(0,100%,0);
}

.slideUp.ng-enter.ng-enter-active {
    transition-property: -webkit-transform !important;
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
}

.slideUp.ng-leave {
    transition-property: -webkit-transform !important;;
    -webkit-transform: translate(0,0);
    -webkit-transform: translate3d(0,0,0);
}

.slideUp.ng-leave.ng-leave-active {
    transition-property: -webkit-transform !important;;
    -webkit-transform: translate(0,-100%);
    -webkit-transform: translate3d(0,-100%,0);
}

/* caseActions */
.fixedActions .caseActions{
    position: fixed;
    bottom: 590px;
    z-index: 10;
    left: 0;
    right: 0;
    height: 95px;
    overflow: hidden;
    bottom: 0;
}
    .fixedActions .caseActions .action{
        width: 25%;
        background: #605490;
        display: inline-block;    
        height: 95px;
        float: left;
    
        cursor: pointer;
}
    .fixedActions .caseActions .showComments{
        background: #605490 url(../i/ico-cmnt.png) 50% 50% no-repeat;
    
        background-size: 24px 24px;
}
    .fixedActions .caseActions .showEdit{
    
        background: #574A8A url(../i/ico-edit.png) 50% 50% no-repeat;  background-size: 24px 24px;
}
    .fixedActions .caseActions .showAttachments{
        background: #4E4084 url(../i/ico-atch.png) 50% 50% no-repeat;
    
        background-size: 23px 25px;
}
    .fixedActions .caseActions .showCloseModal{
        background: #44367D url(../i/ico-fo.png) 50% 50% no-repeat;
    
        background-size: 29px 24px;
        cursor: pointer;
}

/* comments page */
.commentList li{
    border-bottom: 1px solid #c8c8c8;
    color: #6c6e6e;
    padding: 16px 15px 13px;
    background: url(../i/ico-cmnt-v.png) 15px 20px no-repeat;
    background-size: 23.5px 23.5px; 
}
    .commentList li .postedBy{
        font-size: 14px;
        line-height: 20px;
        padding-left: 40px;
    
        color: #6c6e6e;
}
    .commentList li .postedOn{
        font-size: 12px;
        line-height: 20px;
        color: #9b9b9b;
        padding-left: 40px;
    }
    .commentList li .postedComment{
        font-size: 15px;
        line-height: 20px;
        color: #6c6e6e;
        overflow: hidden;
    
        position: relative;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
}
    .commentList li .postedComment .inner{
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 60px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    
        -webkit-transition-duration: 0.3s;
        color: #6C6E6E;
}
    .commentList li .postedComment .inner.fluid{        
        height: auto;
        -webkit-line-clamp: initial;
        max-height: 2000px;
    }
    .commentList li .postedComment .ellipsis{
        display: none;  
        background: #fff;
        position: absolute;
        right: 0;
        bottom: 2px;
        z-index: 11;
        color: #6c6e6e;
        font-size: 20px;
    
        height: 20px;
        padding-left: 3px;
        -webkit-user-select: none;
}
    
    
/* attachmentList */
.attachmentList li{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.attachmentList .attachment{
    border-bottom: 1px solid #c8c8c8;
    padding: 15px 23px 18px 58px;
    background: url(../i/ico-atch-b.png) 18px 16px no-repeat;
    background-size: 22.5px 24.5px;
}
    .attachmentList .attachment .fileName{
        margin-bottom: 10px;
    }
    .attachmentList .attachment .fileName span{
        color: #e87b00;
        font-size: 14px;
        font-weight: 700;
        
    }
    .attachmentList .attachment .fileSize{
        color: #6c6e6e;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 10px;
        font-weight: 700;
        background: url(../i/arrow-rt.png) 100% 50% no-repeat;  background-size: 8px 12.5px;
    }
    .attachmentList .attachment .fileDescription{
        color: #6c6e6e;
        font-size: 15px;
    }

/* modal */
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height:100%;
    background: rgba(0,0,0,0.6);
    z-index: 100;
    display: none;
}
.loading{
    position: fixed;
    width: 270px;
    min-height: 128px;
    z-index: 101;
    left: 50%;
    margin-left: -80px;
    top: 50%;
    margin-top: -64px;
    display: none;
}
.loading img{
    z-index: 101;
}
.popup{
    position: fixed;
    width: 270px;
    min-height: 128px;
    background: #fff;
    z-index: 101;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    left: 50%;
    margin-left: -135px;
    top: 50%;
    margin-top: -64px;
    display: none;
}
    .popup .popupCon{
        height: 84px;
        border-bottom: 1px solid #AFAFBC;
    
        overflow: hidden;
    }
    .popup.msgOnly .popupCon{
        border-bottom: none;
        height: 94px;
    }
    .popup .msg{
        color: #6c6e6e;
        font-size: 17px;
        text-align: center;
        line-height: 22px;
        font-weight: bold;
        margin-top: 24px;
    }
    .popup.msgOnly .msg{
        margin-top: 40px;        
    }
    .popup .actions{
        overflow: hidden;
    }
    .popup .actions .action{
        float: left;
        width: 50%;
        height: 42px;
        line-height: 42px;
        text-align: center;
        color: #44367d;
        font-size: 17px;
    
        font-weight: bold;
        box-sizing: border-box;
}
    .popup .actions .action:first-child{
        width: 49.8%;
    }
    .popup .actions .closePopup{
        font-weight: normal;
    
        border-right: 1px solid #AFAFBC;
}
    
/* add comment */
.addComment{
    margin: 8.5px 10px 0;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
    .addComment ::-webkit-input-placeholder {
       color: #c8c8cd;       
    }
    .addComment .commentsText{
        margin: 0;
        border: 1px solid #c7c7cc;        
        resize: none;
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: 230px;
        box-sizing: border-box;
        padding: 15px;
        font-size: 17px;
        line-height: 20px;
        color: #6c6e6e;
    
        float: left;
}
    .addComment .addActions{
        overflow: hidden;
    
        background: #44367D;
}
    .addComment .addActions .action{
        float: left;
        width: 50%;
        text-align: center;
        font-size: 17px;
        height: 39px;
        line-height: 38px;
        background: #44367D;
        box-sizing: border-box;       
    }
    .addComment .addActions .action{
        width: 49.5%;
    }
    .addComment .addActions .action.secondary{
        background: #eeeeee;
        color: #a3a3a8;
        border: 1px solid #dcdcde;
        border-top: none;
    }
    .addComment .addActions .action.primary{
        color: #fff;
        border: 1px solid #44367D;
        border-top: none;
    }
    .noComment{
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: #6c6e6e;
        font-size: 18px;
        height: 97px;
        line-height: 97px;
        border-top: 1px solid #dbdbde;
        background: #fff;
    
        -webkit-user-select: none;
        margin-top: 125px;
}
/* addFileTypes */
.addFileTypes{
    margin-top: 15px;
    background: #fff;
    border: solid #dadadd;
    border-width: 1px 0;
    padding-left: 15px;
}
    .addFileTypes li{
        height: 43px;
        line-height: 43px;
        color: #6c6e6e;
        font-size: 17px;
        border-top: 1px solid #c8c7cc;
      
        padding-right: 15px;
}
    .addFileTypes li:first-child{
        border-top: none;
    }
    .addFileTypes li span{
        display: block;    
        background: url(../i/arrow-rt.png) 100% 50% no-repeat;  background-size: 8px 12.5px;
    }

/* editFileSection */
.editFileSection{
    margin: 18px 23px 0 18px;
    margin: 18px 13px 0;
    padding-left: 40px;
    padding-right: 12px;
    background: url(../i/ico-atch-b.png) 0 1px no-repeat;      background-size: 22.5px 24.5px;
}
    .editFileSection .fileName{
        margin-bottom: 10px;
    }
    .editFileSection .fileName span{
        color: #E87B00;
        font-size: 14px;
        font-weight: 700;
    }
    .editFileSection .fileSize{
        color: #6C6E6E;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .editFileSection .postedBy{
        font-size: 12px;
        color: #6c6e6e;
        margin-bottom: 10px;
    }
    .editFileSection .description{
        font-size: 15px;
    
        line-height: 18px;
}
    .editFileSection .editDescWrap .editDesc{
        margin: 0;
        padding: 9px 0;
        text-indent: 11px;
        border: 0;
    
        resize: none;
        border: 1px solid #c8c8c8;
        width: 100%;
        box-sizing: border-box;
        float: left;
        border-radius: 2px 2px 0 0;
}
    .editFileSection .addActions{
        overflow: hidden;
    
        background: #44367D;
}
    .editFileSection .addActions .action{
        float: left;
        width: 50%;
        text-align: center;
        font-size: 17px;
        height: 39px;
        line-height: 38px;
        background: #44367D;
        box-sizing: border-box;       
    }
    .editFileSection .addActions .action:first-child{
        width: 48.7%;
    }
    .editFileSection .addActions .action.secondary{
        background: #eeeeee;
        color: #a3a3a8;
        border: 1px solid #dcdcde;
        border-top: none;
    }
    .editFileSection .addActions .action.primary{
        color: #fff;
        border: 1px solid #44367D;
        border-top: none;
    }    
    .actionDelfile{
        color: #f84d4d;
        font-size: 16px;
        height: 42px;
        line-height: 42px;
        cursor: pointer;
        border-top: 1px solid #c8c8c8;        
        border-bottom: 1px solid #c8c8c8;
        box-sizing: border-box;
        display: block;
        text-align: center;
        background: #eeeeee;
        margin-top: 11px;
    }
    .actionDelfile:hover{
        color: #f84d4d;
    }
/* calix form */
.cxForm .requiredMsg{
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    color: #f84d4d;
    background: #f3f3f3;
    border-bottom: 1px solid #cacaca;
}  
    .cxForm section{
        box-sizing: border-box;
        overflow: hidden;
        max-width: 100%;
    }
    .cxForm section h2{    
        font-size: 16px;
        color: #e87b00;
        padding: 0 14px;
        height: 39px;
        background: #f3f3f3;
        border-bottom: 1px solid #cacaca;
        line-height: 38px;
    }
    .cxForm section h2.alt{
        border-top: 1px solid #cacaca;        
    }
     .cxForm section .gr{
        min-height: 36px;
        border-bottom: 1px solid #c8c8c8;    
        padding: 5px 14px;
        line-height: 36px;
        box-sizing: border-box;
    
}    
    .cxForm section .lookupGr{
        padding: 16px 15px 17px;
    }
    .cxForm .text{
        border: none;    
        width: 100%;
        margin: 0;
        font-size: 15px;
        color: #6c6e6e;    
        text-align: left;
        box-sizing: border-box;
        padding: 0;
}
    .cxForm ::-webkit-input-placeholder {
       color: #bbbbbb;
       text-indent: 0;
       font-size: 15px;    
       text-align: left;
    }
    .cxForm .picklist{        
       font-size: 15px;
       background: url(../i/arrow-rt.png) 100% 50% no-repeat;
       background-size: 8px 12.5px;
       display: block;
    }
    .cxForm .scanBarcode{        
       font-size: 15px;
       background: url(../i/arrow-rt.png) 100% 50% no-repeat;
       background-size: 8px 12.5px;
       display: block;
       color: #6c6e6e;       
    }
    .cxForm .lblMsg{
       font-size: 15px;
       display: block;
       color: #6c6e6e;
       text-align: center;
       padding-top: 45px;
    }
    .cxForm .picklist.msg, .cxForm .picklist.isPH {
         color: #bbbbbb;
    }
    .cxForm .textarea{
        border: 1px solid #C7C7CC;
        resize: none;
        width: 100%;
        box-sizing: border-box;
        height: 80px;
        margin-top: 10px;
        padding: 3px 6px;    
        font-size: 15px;
        border-radius: 2px;
    }
    .cxForm section .row{
        overflow: hidden;
    }
    .cxForm section .row > label{
        font-size: 15px;      
        display: inline-block;  
        color: #bbb;
        float: left;
    }
    .cxForm section .row .val{
        float: right;
    }
    .cxForm section .row .val .chkWrap{
        margin-top: 3px;    
        vertical-align: top;
    }
    .cxForm .subsetionTitle{
        height: 47px;
        line-height: 47px;
        background: #676767;
        color: #fff;
        text-align: center;
    
        display: block;
        font-size: 18px;
}
    .cxForm .subsetionTitle.alt{
        background: #424242;
        height: 40px;
        line-height: 40px;
    }
    .cxForm .barcodeSelector {
        font-size: 15px;
        background: url(../i/arrow-rt.png) 100% 50% no-repeat;
        background-size: 8px 12.5px;
        display: block;
        color: #6C6E6E;
    }
    .cxForm .barcodeSelector.isPH{
    color: #bbb;
        
    }
    
    /* checkbox */
    .chkWrap{
        display: inline-block;    
        position: relative;
    }
    
    
    input.toggle {    
        margin: 0; 
        position: absolute;
        z-index: 1;
        height: 30px;  width: 50px;
        left: 0;
        top: 0;
        opacity: 0;
        border: none;
}
    input.toggle + label {
        display: block;
        position: relative;
        box-shadow: inset 0 0 0px 1px #e5e5e5;
        text-indent: -5000px;
        height: 30px;
        width: 50px;
        border-radius: 15px;    
        
        -webkit-user-select: none;
}
    input.toggle + label:before {
        content: "";
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        top: 0;
        left: 0;
        border-radius: 15px;
        background: rgba(19,191,17,0);
        -webkit-transition: .2s ease-in-out;
    }
    
    input.toggle + label:after {
        content: "";
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        top: 0;
        left: 0px;
        border-radius: 15px;
        background: white;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
        -webkit-transition: .2s ease-in-out;
    }
    input.toggle:checked + label:before {
        width: 50px;
        background: #44367d;
    }
    
    input.toggle:checked + label:after {
        left: 20px;    
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}






/* formActions */
.formActions{
    margin-top: 20px;  
}
.formActions.alt{
    margin-top: 30px;  
}
    .formActions .action{
        text-align: center; 
        color: #fff;
        font-size: 18px;
        background: #44367d;
        height: 46px;
        line-height: 46px;
        box-sizing: border-box;
    }
    .formActions .single{
        margin-bottom: 0;
    }
    .formActions .single .action{
        display: block;
        background: #676767;
    }
    .formActions .grpActions{
        overflow: hidden;
    }
    .formActions .grpActions .action{
        display: inline-block;
        width: 50%;
        float: left;        
    }
    .formActions .grpActions .action.secondary{
        background: #dddddd;
        color: #676767;
    }
.picklistOptions a{
    color: #6C6E6E;
}