<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="home" ng-controller="attachmentsCtrl">
	<div class="con">
		<header>
			<a class="backLink" ng-click="go('back','slideRight')"></a>
			<h1 class="title">Attachments</h1>
			<a class="newLink" ng-click="go('/newAttachments', 'slideLeft', 'id='+caseId)"><i>+</i>New</a>
		</header>
		<div class="content">
			<ul class="attachmentList">
				<li ng-repeat='attachment in attachmentList' ng-click="go('/editAttachment','slideLeft','id='+caseId+'&attachmentId='+attachment.id)">
					<div class="attachment">
						<p class="fileName"><span>{{attachment.name}}</span></p>
						<p class="fileSize">{{(attachment.bodyLength/1024) | number : 2}} KB</p>
						<p class="fileDescription">{{attachment.contentType}}</p>
					</div>
				</li>
			</ul>
		</div>

        <div class="text_container" ng-show="attachmentList == 0">
            <div class="text_content">No Attachments</div>
        </div>
        
	</div>
    
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
	<div class="popupCon">
		<p class="msg">
			{{errorDetail.message}}<br />{{errorDetail.details}}
		</p>
	</div>
</div>
