<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="confirmDelete()"></a>
			<h1 class="title">New Technical Case</h1>
		</header>
		<div class="content cxForm">
        <p class="requiredMsg">All Fields are Required</p>
            <section>
                <h2>Case Information</h2>
                <div class="gr">
                    <a class="picklist msg" ng-click="pick($event,metadata.urgencyList,setProperty,'urgency',caseData.urgency)">
                        <span ng-hide="caseData.urgency">Select Urgency</span>
                        <span ng-show="caseData.urgency" class="text">{{caseData.urgency}}</span>
                    </a>
                </div>                
                <div class="gr" ng-show="showForPartner">
                    <a class="picklist msg" ng-click="pick($event,metadata.reportedSeverityList,setProperty,'reportedSeverity',caseData.reportedSeverity)">
                        <span ng-hide="caseData.reportedSeverity">Reported Severity</span>
                        <span ng-show="caseData.reportedSeverity" class="text">{{caseData.reportedSeverity}}</span>
                    </a>
                </div>
				<div class="gr" ng-show="showForPartner">
					<input ng-model="caseData.customerTrackingNumber" type="text" class="text" placeholder="Specify Customer Tracking Number" />
				</div>
			</section>

            <section>
                <h2>Product Information</h2>
                <div class="gr">
                    <a class="picklist msg" ng-click="pick($event,metadata.productFamilyList,setProductFamily,'productFamily',caseData.productFamily)">
                        <span ng-hide="caseData.productFamily">Select Product Family</span>
                        <span ng-show="caseData.productFamily" class="text">{{caseData.productFamily}}</span>
                    </a>
                </div>
                <div class="gr">
                    <a class="picklist msg" ng-click="pick($event,metadata.serviceActivityList,setProperty,'serviceActivity',caseData.serviceActivity)">
                        <span ng-hide="caseData.serviceActivity">Select Service Activity</span>
                        <span ng-show="caseData.serviceActivity" class="text">{{caseData.serviceActivity}}</span>
                    </a>
                </div>
                <div class="gr">
                    <a class="picklist msg" ng-click="pick($event,metadata.productCurrentPointReleaseList[caseData.productFamily],setProperty,'currentPointRelease',caseData.currentPointRelease)">
                        <span ng-hide="caseData.currentPointRelease">Select Current Point Release</span>
                        <span ng-show="caseData.currentPointRelease" class="text">{{caseData.currentPointRelease}}</span>
                    </a>
                </div>
                <div class="gr">
                    <input ng-model="caseData.specifySoftwareVersion" type="text" class="text" placeholder="Specify Software Version" />
                </div>
            </section>

            <section>
                <h2>Subject Information</h2>
                <div class="gr">
                    <input ng-model="caseData.problemSummary" type="text" class="text" placeholder="Enter Problem Summary" />
                </div>
                <div class="gr">
                    <textarea ng-model="caseData.problemDescription" class="textarea" rows="10" cols="80" placeholder="Enter Problem Description"></textarea>
                </div>
            </section>

            <section>
                <h2>Incident Address information</h2>
                <div class="gr">
                    <input ng-model="caseData.incidentCity" type="text" class="text" placeholder="Enter Incident City" />
                </div>
                <div class="gr">
                    <a class="picklist msg" ng-click="pick($event,globals.locationCountryData,setProperty,'incidentCountry',caseData.incidentCountry)">
                        <span ng-hide="caseData.incidentCountry">Select Incident Country</span>
                        <span ng-show="caseData.incidentCountry" class="text">{{caseData.incidentCountry}}</span>
                    </a>
                </div>
                <p class="requiredMsg" ng-show="errorMessage">{{errorMessage}}</p>
            </section>

            <div class="formActions">
                <!-- Can't add attachments now, since we don't have the id
                <div class="single">
                    <a href="#/newAttachments" class="action">Add attachment</a>
                </div>
                -->
                <div class="grpActions">
                    <a class="action secondary" ng-click="confirmDelete();">Cancel</a> <a class="action" ng-click="actionSaved();">Submit</a>
                </div>
            </div>
		</div>
		<!-- /.content -->
	</div>
	<!-- /.con -->
    <div class="overlay"></div>
    <div class="popup confirmPopup msgOnly">
    	<div class="popupCon">
    		<p class="msg">
    			Your case has been
    			<br />
    			successfully created.
    		</p>
    	</div>
    </div>
    <!-- /.coinfrmPopup -->
    
    <div class="popup delConfirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			cancel?
    		</p>
    	</div>
    	<div class="actions">
    		<a class="action closePopup">No</a> <a class="action" ng-click="cancel()">Yes</a>
    	</div>
    </div>
    <!-- /.delCoinfrmPopup -->
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
</article>
<!-- #home -->
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
