<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="confirmDelete()"></a>
			<h1 class="title">New Software Case</h1>
		</header>
		<div class="content cxForm">
			<p class="requiredMsg">All Fields are Required</p>
			<section>
				<h2>Contact Information</h2>
				<div class="gr">
					<input ng-model="caseData.city" type="text" class="text" placeholder="Enter City" />
				</div>
                
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,globals.locationCountryData,setCountry,'country',caseData.country)">
						<span ng-hide="caseData.country">Select Country</span>
						<span ng-show="caseData.country" class="text">{{caseData.country}}</span>
            
					</a>
				</div>
				
                <div class="gr">
					<a class="picklist msg" ng-click="pick($event,globals.locationStateData[caseData.country] ? globals.locationStateData[caseData.country] : {},setProperty,'state',caseData.state)">
						<span ng-hide="caseData.state">Select State</span>
						<span ng-show="caseData.state" class="text">{{caseData.state}}</span>
					</a>
				</div>
			</section>
			<section>
				<h2>Product Information</h2>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,metadata.productFamilyList,setProductFamily,'productFamily',caseData.productFamily)">
						<span ng-hide="caseData.productFamily">Select Product Family</span>
						<span ng-show="caseData.productFamily" class="text">{{caseData.productFamily}}</span>
					</a>
				</div>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,metadata.productCurrentPointReleaseList[caseData.productFamily],setProperty,'currentPointRelease',caseData.currentPointRelease)">
						<span ng-hide="caseData.currentPointRelease">Select Current Point Release</span>
						<span ng-show="caseData.currentPointRelease" class="text">{{caseData.currentPointRelease}}</span>
					</a>
				</div>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,metadata.productUpgradePointReleaseList[caseData.productFamily],setProperty,'upgradePointRelease',caseData.upgradePointRelease)">
						<span ng-hide="caseData.upgradePointRelease">Select Upgrade Point Release</span>
						<span ng-show="caseData.upgradePointRelease" class="text">{{caseData.upgradePointRelease}}</span>
					</a>
				</div>
				<div class="gr">
					<div class="row">
						<label>Latest Available?</label>
						<div class="val">
							<span class="chkWrap"><input ng-model="caseData.latestAvailable" id="chkLtstAv" type="checkbox" class="toggle" /><label for="chkLtstAv"></label> </span>
						</div>
					</div>
				</div>
                <div class="gr">
					<input ng-model="caseData.specifySoftwareVersion" type="text" class="text" placeholder="Specify Software Version" />
				</div>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,metadata.networkEnvironmentList,setProperty,'networkEnvironment',caseData.networkEnvironment)">
						<span ng-hide="caseData.networkEnvironment">Select Network Enviroment</span>
						<span ng-show="caseData.networkEnvironment" class="text">{{caseData.networkEnvironment}}</span>
					</a>
				</div>
				<div class="gr">
					<div class="row">
						<label>Grant Access to all users </label>
						<div class="val">
							<span class="chkWrap"><input ng-model="caseData.grantAccessToAllUsers" id="chkAccess" type="checkbox" class="toggle" /><label for="chkAccess"></label> </span>
						</div>
					</div>
				</div>
				<p class="requiredMsg" ng-show="errorMessage">{{errorMessage}}</p>
			</section>

			<div class="formActions alt">
				<div class="grpActions">
					<a class="action secondary" ng-click="confirmDelete();">Cancel</a>
					<a class="action primary" ng-click="actionSaved()">Submit</a>
				</div>
			</div>
		</div>
		<!-- /.content -->

	</div>
	<!-- /.con -->
    <div class="overlay"></div>
    <div class="popup confirmPopup msgOnly">
    	<div class="popupCon">
    		<p class="msg">
    			Your case has been
    			<br />
    			successfully created.
    		</p>
    	</div>
    </div>
    <!-- /.coinfrmPopup -->
    
    <div class="popup delConfirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			cancel?
    		</p>
    	</div>
    	<div class="actions">
    		<a class="action closePopup">No</a> <a class="action" ng-click="cancel()">Yes</a>
    	</div>
    </div>
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
    <!-- /.delCoinfrmPopup -->
</article>
<!-- #home -->
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
