<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Changes:
  * 1. Add the infinite scroll support for this view.
  * 2. Fix the no case message.
  */
 -->
<article class="screen homeTemplate  alt" ng-class="{menuEnabled: menuEnabled}" id="home" ng-controller="homeCtrl" >
	<nav class="sidebarMenu" ng-show="menuEnabled">
		<span class="searchWrap"><span class="btnSearch" ng-click="go('/homeSearch', 'slideLeft')">Search</span></span>
		<ul class="navLinks" >
			<li>
				<p class="title" ng-click="toggleList($event);">Create Request</p>
				<ul class="child highlightOptions">
					<li><a href="#/createTechnicalService">Technical Service</a></li>
					<li><a href="#/createSoftware">Software</a></li>
					<li><a href="#/createRma">RMA</a></li>
				</ul>
			</li>
			<li class="collapsed sortOptions">
				<p class="title" ng-click="toggleList($event);">Sort</p>
				<ul class="child">
					<li ng-class="{sortEnabled: query.sort == 'dcn'}">
						<a class="option" ng-click="changeSort('dcn')">By Case Number</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'dse'}" >
						<a class="option" ng-click="changeSort('dse')">By Severity</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'dst'}">
						<a class="option" ng-click="changeSort('dst')">By Status</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'dcd'}" >
						<a ng-click="changeSort('dcd')" class="option">By Created Date</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'dlmd'}">
						<a ng-click="changeSort('dlmd')" class="option twoLines">By Last Modified<br/>Date</a>
					</li>
					<li ng-class="{sortEnabled: query.sort == 'ownr'}">
						<a ng-click="changeSort('ownr')" class="option">By Owner</a>
					</li>
				</ul>
			</li>
			<li class="collapsed filterOptions" ng-click="toggleList($event);">
				<p class="title">Filter by type</p>
				<ul class="child">
					<li ng-class="{sortEnabled: enabledTypes.tech}"><a class="option">Technical Service</a></li>
					<li ng-class="{sortEnabled: enabledTypes.sw}"><a class="option">Software Request</a></li>
					<li ng-class="{sortEnabled: enabledTypes.rma}"><a class="option">RMA</a></li>
				</ul>
			</li>
			<li class="collapsed filterOptions" ng-click="toggleList($event);">
				<p class="title">Filter by status</p>
				<ul class="child">
					<li ng-class="{sortEnabled: enabledStatus.unassigned}"><a class="option">Open</a></li>
<!-- <li ng-class="{sortEnabled: enabledStatus.workInProgress}"><a class="option">Work in Progress</a></li> -->
					<li ng-class="{sortEnabled: enabledStatus.closed}"><a class="option">Closed</a></li>
				</ul>
			</li>

		</ul>
	</nav>
	<!-- /.sidebarMenu -->
	<div class="con">
		<header>
			<a class="menuLink"  ng-click="toggleNav()"></a>
			<h1 class="title">My Cases</h1>
		</header>
		<div class="content">
			<ul class="caseList" infinite-scroll="loadMoreCases()"
                infinite-scroll-disabled="busy || !hasMoreData" infinite-scroll-distance="0">
				<li ng-repeat='case in casesData'>
					<div class="{{getClass(case.type)}}" ng-click="navTo($event,case.id)">
						<p class="caseNo">{{case.caseNumber}}</p>
						<p class="caseDesc">{{case.summary}}{{case.specifySoftwareVersion}}</p>
						<p class="caseDate">{{case.createdDate}}</p>
						<p class="caseDate">{{case.ownerName}}</p>
						<p class="caseDate">{{case.severity}}</p>
					</div>
				</li>
			</ul>
        </div>

        <div class="text_container" ng-hide='hasCases() || initCtrl === true'>
            <div class="text_content">No Cases</div>
        </div>
        
		<div class="toggleMask" ng-click="toggleNav()"></div>
	</div>
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
	<div class="popupCon">
		<p class="msg">
			{{errorDetail.message}}<br />{{errorDetail.details}}
		</p>
	</div>
</div>
