<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.1
  *
  * Changes in 2.0:
  *     1. Updated to new UI.
  * Changes in 2.1:
  *		1. Fixed the floating bottom bug.
  */
 -->

 <article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="addAttachment" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink" ng-click="go('back', 'slideRight')"></a>
			<h1 class="title">Enter Part Number</h1>
		</header>
		<div class="content cxForm">
			<section>
				<div class="gr" style="margin-top:50px;">
					<a class="scanBarcode" ng-click="scanBarcode()">Scan Barcode </a>
				</div>
				<div class="gr">
					<p class="lblMsg">Or Enter Code</p>
				</div>
				<div class="gr">
					<a class="picklist msg" ng-click="pick($event,metadata.codePrefixList,setItemProperty,'partPrefix',currentItem.partPrefix)">
						<span ng-hide="currentItem.partPrefix">Select Code Prefix</span>
						<span ng-show="currentItem.partPrefix" class="text">{{currentItem.partPrefix}}</span>
					</a> 
				</div>
				<div class="gr">
					<input ng-model="currentItem.partSuffix" value="" type="tel" pattern="[0-9]*" class="text rmaBarcode" placeholder="Enter Code Suffix (5 digits)" />
				</div>
				<p class="requiredMsg" ng-show="errorMessage">{{errorMessage}}</p>
			</section>
		</div>
	</div>
	<!-- /.con -->
	<div class="formActions bottomFixed">

		<div class="grpActions">
			<a class="action secondary"  ng-click="go('back', 'slideRight')">Cancel</a> <a class="action" ng-click="addBarcode();">Done</a>
		</div>
	</div>
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="popup confirmPopup msgOnly">
	<div class="popupCon">
		<p class="msg">
			Your comment has been
			<br />
			added.
		</p>
	</div>
</div>
