<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.0
  *
  * Changes:
  *     1. Updated to new UI.
  */
 -->

 <article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="home" ng-controller="attachmentsCtrl">
	<div class="con">
		<header>
			<a class="backLink" ng-click="go('back','slideRight')"></a>
			<h1 class="title">Attachments</h1>
			<a class="newLink" ng-click="go('/newAttachments', 'slideLeft', 'id='+caseId)"><i>+</i>New</a>
		</header>
		<div class="content">
			<ul class="attachmentList">
				<li ng-repeat='attachment in attachmentList' ng-click="go('/editAttachment','slideLeft','id='+caseId+'&attachmentId='+attachment.id)">
					<div class="attachment"  id="attachment-{{attachment.id}}">
						<p class="fileName"><span>{{attachment.name}}</span></p>
            <span class="thumbnail" ng-if="(attachment.contentType.indexOf('image/jpeg') == 0 || attachment.contentType.indexOf('image/png') == 0)">
              <img id="thumbnail-{{attachment.id}}"/>
            </span>
						<p class="fileSize">{{(attachment.bodyLength/1024) | number : 2}} KB</p>
						<img ng-src="i/ico-delete.png" class="deleteAttachment" data-ng-click="confirmDelete('{{attachment.id}}');"  ng-if="attachment.isDelete == 'YES'"/>
						<p class="fileDescription">{{attachment.contentType}}</p>
					</div>
				</li>
			</ul>
		</div>

        <div class="text_container none_listed" ng-show="attachmentList == 0">
            <div class="text_title">No Attachments</div>
            <div class="text_content">Create a new attachment on this case by touching the "+New" button in the upper right-hand corner of the screen.</div>
        </div>
        
	</div>
    
<!-- #home -->
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div class="popup delConfirmPopup">
    <div class="popupCon">
        <p class="msg">
            Are you sure you want to
            <br />
            delete the attachment?
        </p>
    </div>
    <div class="actions">
        <a class="action closePopup">No</a>
        <a class="action" ng-click="deleteAttachment()">Yes</a>
    </div>
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    <div class="popupCon">
        <p class="msg">
            {{errorDetail.message}}<br />{{errorDetail.details}}
        </p>
    </div>
</div>
</article>
