<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.0
  *
  * Changes:
  *     1. Updated to new UI.
  */
 -->

 <article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="addAttachment" ng-controller="newAttachmentCtrl" >
	<div class="con alt">
		<header>
			<span class="backLink" ng-click="go('back', 'slideRight')"></span>
			<h1 class="title">Add File</h1>
		</header>
		<div class="content">
			<ul class="addFileTypes">
				<li ng-click="getPicture(0)" class="browseLib"><span>{{libraryLabel}}</span></li>
				<li ng-click="getPicture(1)" class="lauchCam"><span>Launch Camera </span></li>
			</ul>
		</div>
	</div>
</article>
<!-- #home -->
<!-- /.con -->
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div class="popup confirmPopup msgOnly">
	<div class="popupCon">
		<p class="msg">
			Your attachment has been
			<br />
			added.
		</p>
	</div>		
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
	<div class="popupCon">
		<p class="msg">
			{{errorDetail.message}}<br />{{errorDetail.details}}
		</p>
	</div>
</div>
