<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.0
  *
  * Changes:
  *     1. Updated to new UI.
  */
 -->

 
<article class="screen homeTemplate alt  alt fixedActions" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="caseCtrl">
	<div class="con">
		<header class="menuHeader">
			<a class="backLink menuLink" ng-click="go('/home', 'slideRight', {fromCaseDetail:'true'})"></a>
			<h1 class="title">Details</h1>
          <div class="rtMenu actions">
          	<div class="rtMenuWrapper" data-ng-click="go('/comments','','id='+caseData.id)"> 
            	<a class="showComments"></a>
            </div>
            <!--<a data-ng-click="go('edit-case-rma')" class="showEdit"></a>-->
            <div class="rtMenuWrapper" data-ng-click="go('attachments','','id='+caseData.id)"> 
            	<a class="showAttachments"></a>
            </div>
            <!--<a data-ng-click="confirmClose();" class="showCloseModal"></a>-->
          </div>
		</header>
		<div class="content caseTemplate caseRma">
			<h1 class="caseNo">
				<span>{{caseData.caseNumber}}</span>
			</h1>
			<section>
				<h2>Case Information</h2>
				<div class="gr">
					<label>Contact Name </label>
					<p>{{caseData.contactName}}</p>
				</div>
				<div class="gr">
					<label>Account Name </label>
					<p>{{caseData.accountName}}</p>
				</div>
				<div class="gr">
					<label>Status </label>
					<p>{{caseData.status}}</p>
				</div>
				<div class="gr">
					<label>Country </label>
					<p>{{caseData.country}}</p>
				</div>
				<div class="gr">
					<label>State </label>
					<p>{{caseData.state}}</p>
				</div>
                <div class="gr">
					<label>Case Owner </label>
					<p>{{caseData.ownerName}}</p>
				</div>
				<div class="gr">
					<label>Severity </label>
					<p>{{caseData.severity}}</p>
				</div>
			</section>
			<div class="caseTemplate caseRma" ng-repeat="item in caseData.items">
				<section>
					<h2>Line Item {{$index + 1}}</h2>
					<div class="gr lookupGr">
						<label>Part Number </label>
						<p>{{item.partNumberName}}</p>
					</div>
					<div class="gr lookupGr">
						<label>Serial Number </label>
						<p>{{item.serialNumber}}</p>
					</div>
					<div class="gr lookupGr">
						<label>Failure Code</label>
						<p>{{item.failureCode}}</p>
					</div>
                    <div class="gr lookupGr">
						<label>Service Activity </label>
						<p>{{item.serviceActivity}}</p>
                    </div>
                    <div class="gr lookupGr" ng-show="hasSoftwareRelease(item.softwareRelease)">
                        <label>Software Release </label>
                        <p>{{item.softwareRelease}}</p>
                    </div>
					<div class="gr lookupGr">
						<label>Description of Failure </label>
						<p>{{item.descriptionOfFailure}}</p>
					</div>
				</section>
			</div>
		</div>
		<!-- /.content -->
	</div>
	<!-- /.con -->
    <div class="overlay"></div>
    <div title="Confirm" class="popup confirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			close this case?
    		</p>
    	</div>
    	<div class="actions">
    		<a ng-click="closePopup('.confirmPopup')" class="action closePopup">Cancel</a> 
    		<a class="action" ng-click="closeCase(caseData.id)">Close</a>
    	</div>
    </div>
    <div  title="Warning" class="popup rmaWarningPopup msgOnly" ng-click="closePopup('.rmaWarningPopup')">
    	<div class="popupCon">
    		<p class="msg">
    			RMA Cases cannot be updated. 
    			<br />
    			Please use the comments.
    		</p>
    	</div>
    </div>
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
</article>
<!-- #home -->
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
