<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.1
  *
  * Changes in 2.0:
  *     1. Updated to new UI.
  * Changes in 2.1:
  *		1. Fixed the floating bottom bug.
  */
 -->

 <article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="confirmDelete()"></a>
			<h1 class="title">New Case</h1>
		</header>
		<div class="content cxForm">
	      <header class="formHeader">
	        <h2 class="rma">RMA</h2>
	        <span class="lbl">= Required Fields</span>
	      </header>
			<a ng-click="openRmaPolicy()" class="subsetionTitle">Calix RMA Policy</a>
			<section>
				<h2>Ship To Information</h2>
				<div class="gr required">
					<input ng-model="caseData.city" type="text" class="text" placeholder="Enter City" />
				</div>
				<div class="gr required">
					<a class="picklist msg" ng-click="pick($event,globals.locationCountryData, setCountry,'country',caseData.country)">
						<span ng-hide="caseData.country">Select Country</span>
						<span ng-show="caseData.country" class="text">{{caseData.country}}</span>
					</a>
				</div>
				<div class="gr required">
					<a class="picklist msg" ng-click="pick($event,globals.locationStateData[caseData.country] ? globals.locationStateData[caseData.country]: {},setProperty,'state',caseData.state)">
						<span ng-hide="caseData.state">Select State</span>
						<span ng-show="caseData.state" class="text">{{caseData.state}}</span>
					</a>
				</div>
				<div class="gr required">
					<input ng-model="caseData.addressLine1" type="text" class="text" placeholder="Enter Address Line 1" />
				</div>
				<div class="gr">
					<input ng-model="caseData.addressLine2" type="text" class="text" placeholder="Enter Address Line 2" />
				</div>
				<div class="gr required">
					<input ng-model="caseData.postalCode" type="text" class="text" placeholder="Enter Zip" />
				</div>

				<div class="gr">
					<div class="row">
						<label>Advance Exchange</label>
						<div class="val">
							<span class="chkWrap"><input ng-model="caseData.advanceExchange" id="advEx" type="checkbox" class="toggle" /><label for="advEx"></label> </span>
						</div>
                        <br/>
                        <span style="font-size:10px;float:left;width:295px;"> By selecting, I agree to any fees required per the RMA policy </span>
					</div>
				</div>
			</section>

		</div>
		<!-- /.content -->

	</div>
	<!-- /.con -->
	<div class="formActions alt">
		<p class="requiredMsg" ng-show="errorMessage">{{errorMessage}}</p>
		<div class="grpActions">
			<a class="action secondary"  ng-click="confirmDelete()">Cancel</a>
			<a ng-hide="jump" class="action" ng-click="toLine()">Next</a>
		</div>
	</div>

	<div class="overlay"></div>
	<div title="Confirm" class="popup delConfirmPopup">
		<div class="popupCon">
			<p class="msg">
				Are you sure you want to
				<br />
				cancel?
			</p>
		</div>
		<div class="actions">
			<a class="action closePopup">No</a>
			<a class="action" ng-click="cancel()">Yes</a>
		</div>
	</div>
	<!-- /.delConfirmPopup -->
</article>
<!-- #home -->
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
