<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.0
  *
  * Changes:
  *     1. Updated to new UI.
  */
 -->

 <article class="screen homeTemplate alt fixedActions" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="caseCtrl">
	<div class="con">
		<header class="menuHeader">
			<a class="backLink" ng-click="go('/home', 'slideRight', {fromCaseDetail:'true'})"></a>
			<h1 class="title">Details</h1>
              <div class="rtMenu actions">
              	<div class="rtMenuWrapper" data-ng-click="go('/comments','','id='+caseData.id)">
                	<a class="showComments"></a>
              	</div>
              	<div class="rtMenuWrapper" data-ng-show="caseData.status != 'Closed'" 
                		data-ng-click="go('edit-case-technical-service','','id='+caseData.id)">
                	<a class="showEdit"></a>
            		</div>
              	<div data-ng-click="go('attachments','','id='+caseData.id)" class="rtMenuWrapper">
                	<a class="showAttachments"></a>
              	</div>
              	<div data-ng-click="confirmClose();" class="rtMenuWrapper">
                	<a class="showCloseModal"></a>
              	</div>
              </div>
              <!-- /.sec-rt -->
		</header>
		<div class="content caseTemplate caseService" ng-hide="loading">
			<h1 class="caseNo">
				<span>{{caseData.caseNumber}}</span>
			</h1>
			<section>
				<h2>Case Information</h2>
				<div class="gr">
					<label>Contact Name </label>
					<p>{{caseData.contactName}}</p>
				</div>
				<div class="gr">
					<label>Account Name </label>
					<p>{{caseData.accountName}}</p>
				</div>
				<div class="gr">
					<label>Case Record Type </label>
					<p>Technical Service Request</p>
				</div>
				<div class="gr">
					<label>Status </label>
					<p>{{caseData.status}}</p>
				</div>
				<div class="gr">
					<label>Calix Case Number </label>
					<p>{{caseData.caseNumber}}</p>
				</div>
                <div class="gr">
					<label>Case Owner </label>
					<p>{{caseData.ownerName}}</p>
				</div>
				<div class="gr">
					<label>Severity </label>
					<p>{{caseData.severity}}</p>
				</div>
				<div class="gr" ng-show="showForPartner">
					<label>Number of Subscribers Affected </label>
					<p>{{caseData.numberOfSubscribersAffected}}</p>
				</div>
        <div class="gr" ng-show="showForPartner">
            <label>Reported Severity </label>
            <p>{{caseData.reportedSeverity}}</p>
        </div>
        
        <div class="gr" ng-show="showForPartner">
            <label>Customer Tracking Number </label>
            <p>{{caseData.customerTrackingNumber}}</p>
        </div>
                
			</section>
			<section>
				<h2>Product Information</h2>
				<div class="gr">
					<label>Service Activity </label>
					<p>{{caseData.serviceActivity}}</p>
				</div>
				<div class="gr">
					<label>Product Family </label>
					<p>{{caseData.productFamily}}</p>
				</div>
				<div class="gr">
					<label>Current Point Release </label>
					<p>{{caseData.currentPointRelease}}</p>
				</div>
				<div class="gr">
					<label>Specify Software Version </label>
					<p>{{caseData.specifySoftwareVersion}}</p>
				</div>
			</section>
			<section>
				<h2>Subject Information</h2>
				<div class="gr">
					<label>Problem Summary </label>
					<p>{{caseData.problemSummary}}</p>
				</div>
				<div class="gr">
					<label>Problem Description </label>
					<p>{{caseData.problemDescription}}</p>
				</div>
				<div class="gr">
					<label>Resolution Summary </label>
					<p>{{caseData.resolutionSummary}}</p>
				</div>
			</section>
			<section>
				<h2>Incident Address information</h2>
				<div class="gr">
					<label>Incident City </label>
					<p>{{caseData.incidentCity}}</p>
				</div>
				<div class="gr">
					<label>Incident Country </label>
					<p>{{caseData.incidentCountry}}</p>
				</div>
			</section>
		</div>
		<!-- /.content -->
	</div>
	<!-- /.con -->
    <div class="overlay"></div>
    <div title="Confirm" class="popup confirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			close this case?
    		</p>
    	</div>
    	<div class="actions">
    		<a class="action closePopup" ng-click="closePopup('.confirmPopup')">Cancel</a> 
    		<a class="action" ng-click="closeCase(caseData.id)">Close</a>
    	</div>
    </div>
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
</article>
<!-- #home -->
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
