<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.0
  *
  * Changes:
  *     1. Updated to new UI.
  */
 -->

 <article class="screen homeTemplate alt  alt fixedActions" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="caseCtrl">
	<div class="con">
		<header  class="menuHeader">
			<a class="backLink menuLink" ng-click="go('/home', 'slideRight', {fromCaseDetail:'true'})"></a>
			<h1 class="title">Details</h1>
          <div class="rtMenu actions">
            <div class="rtMenuWrapper" data-ng-click="go('/comments','','id='+caseData.id)">
            <a class="showComments"></a>
            </div>
            <!--<a data-ng-click="go('edit-case-software')" class="showEdit"></a>-->
            <!--<a data-ng-click="go('attachments-software')" class="showAttachments"></a>-->
            <!--<a data-ng-click="confirmClose();" class="showCloseModal"></a>-->
          </div>
          <!-- /.sec-rt -->
		</header>
		<div class="content caseTemplate caseSoftware">
			<h1 class="caseNo">
				<span>{{caseData.caseNumber}}</span>
			</h1>
			<section>
				<h2>Contact Information</h2>
				<div class="gr">
					<label>Contact Name </label>
					<p>{{caseData.contactName}}</p>
				</div>
				<div class="gr">
					<label>Account Name </label>
					<p>{{caseData.accountName}}</p>
				</div>
				<div class="gr">
					<label>City </label>
					<p>{{caseData.city}}</p>
				</div>
				<div class="gr">
					<label>Country </label>
					<p>{{caseData.country}}</p>
				</div>
				<div class="gr">
					<label>State </label>
					<p>{{caseData.state}}</p>
				</div>
                <div class="gr">
					<label>Case Owner </label>
					<p>{{caseData.ownerName}}</p>
				</div>
				<div class="gr">
					<label>Severity </label>
					<p>{{caseData.severity}}</p>
				</div>
			</section>

			<section>
				<h2>Product Information</h2>
				<div class="gr">
					<label>Product Family </label>
					<p>{{caseData.productFamily}}</p>
				</div>
				<div class="gr">
					<label>Current Point Release </label>
					<p>{{caseData.currentPointRelease}}</p>
				</div>
				<div class="gr">
					<label>Specify Software Version </label>
					<p>{{caseData.specifySoftwareVersion}}</p>
				</div>
				<div class="gr">
					<label>Upgrade Point Release </label>
					<p>{{caseData.upgradePointRelease}}</p>
				</div>
				<div class="gr">
					<label>Latest Available? </label>
					<p ng-if="caseData.latestAvailable">Yes</p>
					<p ng-if="!caseData.latestAvailable">No</p>
				</div>
				<div class="gr">
					<label>Network Environment </label>
					<p>{{caseData.networkEnvironment}}</p>
				</div>
				<div class="gr">
					<label>Grant Access to all users </label>
					<p ng-if="caseData.grantAccessToAllUsers">Yes</p>
					<p ng-if="!caseData.grantAccessToAllUsers">No</p>
				</div>
				<div class="gr">
					<label>Case Record Type </label>
					<p>
						<span title="Software" class="recType"></span>
					</p>
				</div>
			</section>
		</div>
		<!-- /.content -->
	</div>	
	<!-- /.con -->
    <div class="overlay"></div>
    <div title="Confirm" class="popup confirmPopup">
    	<div class="popupCon">
    		<p class="msg">
    			Are you sure you want to
    			<br />
    			close this case?
    		</p>
    	</div>
    	<div class="actions">
    		<a class="action closePopup" ng-click="closePopup('.confirmPopup')">Cancel</a> 
    		<a class="action" ng-click="closeCase(caseData.id)">Close</a>
    	</div>
    </div>
    <div  title="Warning" class="popup rmaWarningPopup msgOnly" ng-click="closePopup('.rmaWarningPopup')">
    	<div class="popupCon">
    		<p class="msg">
    			Software Cases not updatable. 
    			<br />
    			Please use the comments.
    		</p>
    	</div>
    </div>
    <div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
    	<div class="popupCon">
    		<p class="msg">
    			{{errorDetail.message}}<br />{{errorDetail.details}}
    		</p>
    	</div>
    </div>
</article>
<!-- #home -->
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
