<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.1
  *
  * Changes in 2.0:
  *     1. Updated to new UI.
  * Changes in 2.1:
  *     1. Fixed the floating bottom bug.
  */
 -->

 
<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="back()"></a>
			<h1 class="title">RMA Line Item {{viewLine + 1}}</h1>
		</header>
		<div class="content cxForm">
            <header class="formHeader">
              <h2 class="rma">RMA</h2>
              <span class="lbl">= Required Fields</span>
            </header>
            <!-- /.formHeader -->
            <section>
                <h2>RMA New Line Item</h2>
                <div class="gr required">
                    <a ng-click="barcodeSelect($event);" class="barcodeSelector rmaBarcode isPH">
                    <span ng-hide="currentItem.partNumberName">Select Part Number</span>
                    <span ng-show="currentItem.partNumberName" class="text">{{currentItem.partNumberName}}</span>
                </a>
                </div>
                <div class="gr">
                    <a ng-click="scanSerialNumber();" class="scanBarcode">Scan Serial Number</a>
                </div>
                <div class="gr required">
                    <input ng-model="currentItem.serialNumber" type="text" class="text" placeholder="Enter Serial Number" />
                </div>
                <div class="gr required">
                    <a class="picklist msg" ng-click="pick($event,metadata.rmaFailureCodeList,setItemProperty,'failureCode',currentItem.failureCode)">
                        <span ng-hide="currentItem.failureCode">Select Failure Code</span>
                        <span ng-show="currentItem.failureCode" class="text">{{currentItem.failureCode}}</span>
                    </a>
                </div>
                <div class="gr required">
                    <a class="picklist msg" ng-click="pick($event,metadata.rmaServiceActivityList,setItemProperty,'serviceActivity',currentItem.serviceActivity)">
                        <span ng-hide="currentItem.serviceActivity">Select Service Activity</span>
                        <span ng-show="currentItem.serviceActivity" class="text">{{currentItem.serviceActivity}}</span>
                    </a>
                </div>
 
                <div class="gr" ng-show="hasSoftwareRelease">
                    <a class="picklist msg" ng-click="pick($event,metadata.softwareReleaseList[currentItem.partNumberName],setItemProperty,'softwareReleaseId',currentItem.softwareReleaseId)">
                        <span ng-hide="currentItem.softwareReleaseId">Select Software Release</span>
                        <span ng-show="currentItem.softwareReleaseId"
                            class="text">{{getSoftwareReleaseDisplayName(currentItem.softwareReleaseId)}}</span>
                    </a>
                </div>

                <div class="gr">
                    <textarea ng-model="currentItem.descriptionOfFailure" class="textarea" rows="10" cols="80" placeholder="Enter Description of Failure"></textarea>
                </div>
            </section>

		</div>
		<!-- /.content -->

	</div>
	<!-- /.con -->
    <div class="formActions">
        <p class="requiredMsg" ng-show="errorMessage">{{errorMessage}}</p>
        <div class="single" ng-hide="jump">
            <a class="action" ng-click="newLine();">Add Another Line Item</a>
        </div>
        <div class="grpActions" ng-hide="jump">
            <a class="action secondary" ng-click="back()">Back</a> 
            <a class="action" ng-click="review();">Review</a>
        </div>
        <div class="single" ng-show="jump">
            <a class="action" ng-click="review();">Review</a>
        </div>
    </div>

</article>
<!-- #home -->