<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.1
  *
  * Changes in 2.0:
  *     1. Updated to new UI.
  * Changes in 2.1:
  *		1. Fixed the floating bottom bug.
  */
 -->

 <article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="case" ng-controller="createEditCaseCtrl">
	<div class="con">
		<header>
			<a class="backLink menuLink" ng-click="go('back', 'slideRight')"></a>
			<h1 class="title">New Case</h1>
		</header>
		<div class="content cxForm">
	      <header class="formHeader">
	        <h2 class="rma">RMA</h2>
	        <span class="lbl">= Required Fields</span>
	      </header>
			<h2 class="subsetionTitle">Calix RMA Policy</h2>
			<section>
				<h2>Case Information</h2>
				<div class="gr required">
					<a ng-click="barcodeSelect($event);" class="barcodeSelector rmaBarcode isPH">{{rmaBarcode}}</a>
				</div>
				<div class="gr required">
					<input type="number" class="text" placeholder="Enter Serial Number" />
				</div>
				<div class="gr required">
					<a class="picklist isPH" ng-click="pick($event)">Select Failure Code </a>
				</div>
				<div class="gr required">
					<a class="picklist isPH" ng-click="pick($event)">Select Service Activity </a>
				</div>
				<div class="gr">
					<a class="picklist isPH" ng-click="pick($event)">Select Software Release </a>
				</div>
                <div class="gr">
					<textarea class="textarea" rows="10" cols="80" placeholder="Enter Description of Failure"></textarea>
				</div>
			</section>
			<section>
				<h2>Ship To Information</h2>
				<div class="gr required">
					<input type="text" class="text" placeholder="Enter City" />
				</div>
				<div class="gr required">
					<a class="picklist isPH" ng-click="pick($event)">Select Country </a>
				</div>
				<div class="gr required">
					<a class="picklist isPH" ng-click="pick($event)">Select State </a>
				</div>
				<div class="gr required">
					<input type="text" class="text" placeholder="Enter Address Line 1" />
				</div>
				<div class="gr">
					<input type="text" class="text" placeholder="Enter Address Line 2" />
				</div>
				<div class="gr required">
					<input type="number" class="text" placeholder="Enter Zip" />
				</div>
				<div class="gr">
					<div class="row">
						<label for="chkAdv" >Advance Exchange<br><font size="1">By selecting, I agree to any fees required per the RMA policy</font></br></label>
						<div class="val">
							<span class="chkWrap"><input id="chkAdv" type="checkbox" class="toggle" /><label for="chkAdv"></label> </span>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- /.content -->

	</div>
	<!-- /.con -->
	<div class="formActions">
		<div class="grpActions">
			<a class="action secondary" ng-click="go('/home');">Cancel</a> <a class="action primary" href="#/rmaReview">Next</a>
		</div>
	</div>
	<div class="overlay"></div>

	<div class="popup delConfirmPopup">
		<div class="popupCon">
			<p class="msg">
				Are you sure you want to
				<br />
				cancel?
			</p>
		</div>
		<div class="actions">
			<a class="action closePopup">No</a> <a class="action" href="#/home">Yes</a>
		</div>
	</div>
	<!-- /.delCoinfrmPopup -->
</article>
<!-- #home -->
