
 <article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="addComment" ng-controller="commentsCtrl">
	<div class="con alt">
		<header>
			<span class="backLink" ng-click="go('back', 'slideRight')"></span>
			<h1 class="title">Comments</h1>
		</header>
		<div class="content">
			<div class="addComment">
				<textarea ng-model="commentText" class="commentsText" rows="100" cols="100" placeholder="Add a comment"></textarea>
				<div class="clear"></div>
				<div class="addActions">
					<a class="action secondary" ng-click="nav2Detials();">Cancel</a> <a class="action primary" ng-click="postAdded();">Post</a>
				</div>
			</div>
			<div class="noComment">No Comments</div>
		</div>
	</div>
	<!-- /.con -->
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="popup coinfrmPopup msgOnly">
	<div class="popupCon">
		<p class="msg">
			Your comment has been
			<br />
			added.
		</p>
	</div>
</div>
