 <article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="home" ng-controller="commentsCtrl">
	<div class="con">
		<header>
			<span class="backLink" ng-click="go('back', 'slideRight')"></span>
			<h1 class="title">Comments</h1>
			<a class="newLink" ng-click="go('/newcomment', 'slideLeft', 'id='+caseId)"><i>+</i>New</a>
		</header>
		<div class="content">
			<ul class="commentList expanOnTap">
				<li ng-repeat='comment in commentList' ng-click="toggleComment($event)">
					<div class="comment">
						<p class="postedBy">Posted By {{comment.createdBy}}</p>
						<p class="postedOn">on {{comment.createdDate}}</p>
						<p class="postedComment"><span class="inner">{{comment.body}}</span><a class="ellipsis">...</a></p>
					</div>
				</li>
			</ul>
            
           
		</div>
        <div class="text_container none_listed" ng-show="commentList == 0">
            <div class="text_title">No Comments</div>
            <div class="text_content">Create a new comment on this case by touching the "+New" button in the upper right-hand corner of the screen.</div>
        </div>
	</div>
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
	<div class="popupCon">
		<p class="msg">
			{{errorDetail.message}}<br />{{errorDetail.details}}
		</p>
	</div>
</div>
