<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.0
  *
  * Changes:
  *     1. Updated to new UI.
  */
 -->

 <article class="screen homeTemplate alt" id="addComment" ng-controller="commentsCtrl">
	<div class="con alt">
		<header>
			<span class="backLink" ng-click="go('back', 'slideRight')"></span>
			<h1 class="title">Add Comment</h1>
		</header>
		<div class="content">
			<div class="addComment">
				<textarea ng-model="comment.body" class="commentsText" rows="100" cols="100" placeholder="Add a comment"></textarea>
				<div class="clear"></div>
				<div class="addActions">
					<a class="action secondary" ng-click="nav2Detials();">Cancel</a> <a class="action primary" ng-click="postAdded();">Post</a>
				</div>
			</div>

		</div>
	</div>
	<!-- /.con -->
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div class="popup confirmPopup msgOnly">
	<div class="popupCon">
		<p class="msg">
			Your comment has been
			<br />
			added.
		</p>
	</div>		
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
	<div class="popupCon">
		<p class="msg">
			{{errorDetail.message}}<br/>{{errorDetail.details}}
		</p>
	</div>
</div>
