<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App UI Updates and Bug Fixes Assembly
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 1.0
  */
 -->
 <article class="screen homeTemplate">
  <div class="con helpCon">
    <header>
      <a class="backLink menuLink" data-ng-click="go('back', 'slideRight')"></a>
      <h1 class="title">Icon Key</h1>
    </header>
    <div class="content cxForm">
      <section class="helpIcos">
        <h2>Main Menu &amp; Side Menu Icons</h2>
        <div class="caption">Actions icons accessible from the "My Cases" screen.</div>
        <div class="sr se">
          Search Cases<small class="lbl">Open the search menu &amp; launch the keyboard</small>
        </div>
        <div class="sr fl">
          Filter Cases<small class="lbl">Open the Filter Cases options</small>
        </div>
        <div class="sr child fl-type">
          Filter Cases by Type <small class="lbl">Show only cases of a certain type</small>
        </div>
        <div class="sr child fl-type">
          Filter Cases by Status <small class="lbl">Show only cases of a certain status</small>
        </div>
        <div class="sr child so">
          Sort Order <small class="lbl">Change the order in which cases are displayed</small>
        </div>

        <div class="sr new">
          Create a New Case<small class="lbl">Open the New Case options </small>
        </div>
        <div class="sr child nr">
            New Support Case <small class="lbl">Open a form to create a New Support Case</small>
        </div>
        <div class="sr child sf">
            New Software Case <small class="lbl">Open a form to create a New Software Case</small>
        </div>
        <div class="sr child sc">
          New RMA Case <small class="lbl">Open a form to create a New RMA Case</small>
        </div>

        <div class="sr me">
          Menu<small class="lbl">Open the sliding side menu</small>
        </div>
        <div class="sr child st">
          Settings <small class="lbl">Change the notifications Setings</small>
        </div>
        <div class="sr child he">
          Help<small class="lbl">Open the Icon Key</small>
        </div>


        <h2 class="ngr">Individual Case Action Icons</h2>
        <div class="caption">Actions icons accessible from a case "Details" screen. Note that the actions
          available may vary, by case.</div>
        <div class="indCs">
          <div class="sr cm">
            Comments<small class="lbl">View and/or add comments to the case.</small>
          </div>
          <div class="sr ed">
            Edit<small class="lbl">Edit the case details.</small>
          </div>
          <div class="sr att">
            Attachments<small class="lbl">View and/or add attachments to the case.</small>
          </div>
          <div class="sr cl">
            Close<small class="lbl">Close the case.</small>
          </div>
        </div>
        <!-- /.indCs -->
      </section>
      <!-- /.helpIcos -->
    </div>
    <!-- /.cxForm -->
  </div>
  <!-- /.helpCon -->
</article>