<article class="screen homeTemplate alt"  id="home" ng-controller="homeSearchCtrl">
	<div class="con">
		<header class="searchHeader">
			<input type="text" class="searchInput" value="" ng-model="searchFilter" >
			<a class="closeSearch" ng-click="goTohome();"></a>
		</header>
		<div class="content">
			<ul class="caseList">
				<li ng-repeat='case in caseData | filter: searchFilter'>
					<div class="{{getClass(case.type)}}" ng-click="navTo($event,case.id)">
						<p class="caseNo">{{case.caseNumber}}</p>
						<p class="caseDesc">{{case.summary}}{{case.specifySoftwareVersion}}</p>
						<p class="caseDate">{{case.createdDate}}</p>
						<p class="caseDate">{{case.ownerName}}</p>
						<p class="caseDate">{{case.severity}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</article>
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
	<div class="popupCon">
		<p class="msg">
			{{errorDetail.message}}<br />{{errorDetail.details}}
		</p>
	</div>
</div>
<!-- #home -->
