<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App Case View Pagination & RMA Line Item Assembly v1.0
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.0
  *
  * Changes:
  * 	1. Updated to new UI.
  */
 -->
<article class="screen homeTemplate  alt" id="home" ng-controller="homeCtrl" >
	<div class="con">
	    <header class="menuHeader">
	      <div class="topHead">
	        <a class="menuLink"></a>
	        <h1 class="title">Cases</h1>
	        <div class="rtMenu">
	          <div class="rtMenuWrapper" data-ng-click="toggle('isSearchEnabled');">
	          	<a class="search hs" data-ng-class="{active:isSearchEnabled}"></a>
	          	</div>
	          <div class="rtMenuWrapper" data-ng-click="toggle('isFiltersEnabled');">
	          	<a class="filter hs" data-ng-class="{active:isFiltersEnabled}"></a>
	          </div>
	          <div class="rtMenuWrapper" data-ng-click="toggle('isMoreEnabled');">
	          	<a class="more hs" data-ng-class="{active:isMoreEnabled}"> </a>
	          </div>
	          <div class="rtMenuWrapper" data-ng-click="refresh();">
	          	<a class="refresh hs"> </a>
	          </div>
	        </div>
	        <!-- /.sec-rt -->
	      </div>
	      <!-- /.topHead -->
	      <div class="subMenu">
	        <div class="searchForm fl-show-hide isSearchEnabled" data-ng-show="isSearchEnabled">
	          <form data-ng-submit="doSearch();">
	            <textarea data-ng-model="searchTerm" data-ng-blur="endSearch()" type="text" class="search" id="term"
	              placeholder="Enter Search Term" />
	            <input type="submit" class="btnSubmit" />
	          </form>
	        </div>
	        <!-- /.searchForm -->
	
	        <div class="filters fl-show-hide isFiltersEnabled" data-ng-show="isFiltersEnabled">
	          <div class="tabbedSection">
	            <nav class="tabNav">
	              <a class="fl" id='tab-byType' data-ng-click="toggleOptions('byType');"><span>by Type</span></a>
                  <a class="fl mid" id='tab-byStatus' data-ng-click="toggleOptions('byStatus');"><span>by Status</span></a>
                  <a class="so" id='tab-sortOd' data-ng-click="toggleOptions('sortOd');"><span>Sort Order</span></a>
	            </nav>
	            <div class="tabGr">
	              <div class="tab" id="byType">
	                <div class="rw">
	                  <a data-ng-class="{checked: enabledTypes.tech}" data-ng-click="toggleFilter($event);">Technical Service</a>
	                </div>
	                <div class="rw">
	                  <a data-ng-class="{checked: enabledTypes.sw}" data-ng-click="toggleFilter($event);">Software Request</a>
	                </div>
	                <div class="rw">
	                  <a data-ng-class="{checked: enabledTypes.rma}" data-ng-click="toggleFilter($event);">RMA</a>
	                </div>
	              </div>
	              <!-- /#byType -->
	              <div class="tab" id="byStatus">
	                <div class="rw">
	                  <a data-ng-class="{checked: enabledStatus.unassigned}" data-ng-click="toggleStatus($event);">Open</a>
	                </div>
	                <div class="rw">
	                  <a  data-ng-class="{checked: enabledStatus.closed}" data-ng-click="toggleStatus($event);">Closed</a>
	                </div>
	              </div>
	              <div class="tab" id="sortOd">
	                <div class="rw">
	                  <a data-ng-class="{checked: query.sort == 'dcn'}" data-ng-click="toggleSort($event, 'dcn');">by Case Number</a>
	                </div>
	                <div class="rw">
	                  <a data-ng-class="{checked: query.sort == 'dst'}" data-ng-click="toggleSort($event, 'dst');">by Status</a>
	                </div>
	                <div class="rw">
	                  <a data-ng-class="{checked: query.sort == 'dse'}" data-ng-click="toggleSort($event, 'dse');">by Severity</a>
	                </div>
	                <div class="rw">
	                  <a data-ng-class="{checked: query.sort == 'dcd'}" data-ng-click="toggleSort($event, 'dcd');">by Create Date</a>
	                </div>
	                <div class="rw">
	                  <a data-ng-class="{checked: query.sort == 'dlmd'}" data-ng-click="toggleSort($event, 'dlmd');">by Last Modified Date</a>
	                </div>
	                <div class="rw">
	                  <a data-ng-class="{checked: query.sort == 'ownr'}" data-ng-click="toggleSort($event, 'ownr');">by Owner</a>
	                </div>
	              </div>
	            </div>
	            <!-- /.tabGr -->
	          </div>
	          <!-- /.tabbedSection -->
	        </div>
	        <!-- /.filters -->
	        <div class="moreOptions fl-show-hide" data-ng-show="isMoreEnabled">
	          <nav>
	            <a class="tech" href="#/createTechnicalService"><span>Tech Service</span></a>
	            <a class="sf text-center" href="#/createSoftware"><span>Software</span></a>
	            <a class="so" href="#/createRma"><span>RMA</span></a>
	          </nav>
	        </div>
	      </div>
	      <!-- /.subMenu -->
	    </header>
        <div class="content" id="caseListContainer">
	          <ul class="caseList" infinite-scroll="loadMoreCases()" infinite-scroll-distance="0" infinite-scroll-container="'#caseListContainer'" pull-to-refresh="refresh()">
				<li ng-repeat='case in casesData | filter: searchTerm'>
					<div class="{{getClass(case.type)}}" ng-click="navTo($event,case.id)">
						<p class="caseNo">{{case.caseNumber}}</p>
						<p class="caseDesc">{{case.summary}}{{case.specifySoftwareVersion}}</p>
						<p class="caseDate">{{case.createdDate}}</p>
	                    <p class="caseDate">{{case.ownerName}}</p>
	                    <p class="caseDate">{{case.severity}}</p>
					</div>
				</li>
			 </ul>
        </div>

        <div class="text_container none_listed" ng-hide='hasCases() || initCtrl === true'>
            <div class="text_title">No Cases</div>
            <div class="text_content">
						<span ng-if="!android">Swipe down to check for more cases </span>
            <span ng-if="android">Touch the refresh button to check for more cases </span> or create a new case by touching the "+" button.</div>
        </div>
        
		<div class="toggleMask" ng-click="toggleNav()"></div>
	</div>
</article>
<!-- #home -->
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
	<div class="popupCon">
		<p class="msg">
			{{errorDetail.message}}<br />{{errorDetail.details}}
		</p>
	</div>
</div>
