<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App UI Updates and Bug Fixes Assembly
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 1.0
  */
 -->
 <article class="screen homeTemplate" ng-controller="notificationsCtrl" >
  <div class="con settingsCon">
    <header>
      <a class="backLink menuLink" data-ng-click="go('back', 'slideRight')"></a>
      <h1 class="title">Notifications</h1>
    </header>
    <div class="settings">
      <div class="rw">
        <a data-ng-class="{checked: notifications.newComments}" data-ng-click="toggle('newComments');">New Comments </a>
      </div>
      <div class="rw">
        <a data-ng-class="{checked: notifications.statusChanges}" data-ng-click="toggle('statusChanges');">Status Changes</a>
      </div>
    </div>
    <!-- /.settgins -->
  </div>
  <!-- /.helpCon -->
</article>
<div class="overlay"></div>
<div class="loading">
    <div class="spinner-wrapper">
        <span class="spinner-text">LOADING</span>
        <span class="spinner"></span>
    </div>
</div>
<div  title="Error" class="popup errorPopup msgOnly" ng-click="closePopup('.errorPopup')" >
  <div class="popupCon">
    <p class="msg">
      {{errorDetail.message}}<br />{{errorDetail.details}}
    </p>
  </div>
</div>
