<article class="screen homeTemplate alt" ng-class="{menuEnabled: menuEnabled}" id="selectOption">
	<div class="con alt">
		<header>
			<span class="backLink" ng-click="go('back', 'slideRight')"></span>
			<h1 class="title">{{picklistTitle}}</h1>
		</header>
		{{id}}
		<div class="content" id="optListContainer">
			<ul class="addFileTypes picklistOptions highlightOptions" infinite-scroll="loadMoreOptions()" infinite-scroll-distance="3"  infinite-scroll-container="'#optListContainer'">
				<li ng-repeat="option in valuesToDisplay"
                    ng-click="callback(option.value,property)">
                    <a ng-class="{selected: option.value == selectedValue}">{{option.label}}</a></li>
			</ul>
		</div>
	</div>
	<!-- /.con -->	
</article>
<!-- #home -->
