<!--
 /*
  * Copyright (C) 2014 TopCoder Inc., All Rights Reserved.
  *
  * Calix Mobile App UI Updates and Bug Fixes Assembly
  *
  * Author: snowone, TCSASSEMBLER
  * Version: 2.1
  *
  * Changes in 2.1:
  *     1. Makes sidebarNav class only applies to android 17.
  */
 -->
 <nav>
  <ul class="noText" ng-class="{'bump-down': android17}">
    <li data-ng-class="{active: isExpand}" data-ng-click="isExpand = !isExpand"><a class="toggleList"><i></i></a>
      <ul class="child">
        <li><a class="techSvc" href="#/createTechnicalService">Technical Service<i></i></a></li>
        <li><a class="sf" href="#/createSoftware">Software<i></i></a></li>
        <li><a class="rma" href="#/createRma">RMA<i></i></a></li>
      </ul></li>
    <li><a class="setting" href="#/notifications">Settings<i></i></a></li>
    <li><a class="help" href="#/help">Help<i></i></a></li>
  </ul>
</nav>
<!-- /.sidebarNav -->